@font-face {
  font-family: 'voyager-grotesque';
  src: url('voyager-grotesque.woff2') format('woff2'),
  url('voyager-grotesque.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'voyager-grotesque--light';
  src: url('voyager-grotesque--light.woff2') format('woff2'),
  url('voyager-grotesque--light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}




.App__header {
  background-image: url('diagonal.png');
  border-bottom: 1px dotted red;
  background-color: #111;
}




/* BEGIN MOCK THEME STYLES */

.Block3d {

  /* alternate for cool glass effect */
  /*background-attachment: fixed;*/
  /*background-size: 100%;*/
  /*background-position: bottom center;*/

  /*background-image: url('../../public/theme--rpg/rock-face.gif');*/
}

.Block3d:hover {

}

.Block3d__content {
  border: 1px solid red;
}

.Block3d__face--top {
  /*background-color: #eee;*/

  border-right: 1px solid red;
  border-left: 1px solid red;
}
.Block3d__face--left,
.Block3d__face--right {
  /*background-color: #ccc;*/

  border-top: 1px solid red;

  border-bottom: 1px solid red;
}

.Block3d__face--right {
  border-right: 1px solid red;
}

.Block3d__face--left {
  border-left: 1px solid red;
}



.Block3d__face--bottom {
  border-right: 1px solid red;
  border-left: 1px solid red;
  border-bottom: 2px solid red;

  background-image: url('diagonal.png');
  background-color: #1e0000;
}

.Block3d__face--bottom:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 128px;
}




