
.Block3d {
  position: relative;
  transform-style: preserve-3d;
  display: inline-block;
  vertical-align: top;
  backface-visibility: hidden;
}
.Block3d--absolute {
  position: absolute;
}

.Block3d__shading {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transform: translateZ(0);
  z-index: 9999;
  display: none; /* shading is expensive, for now */
}


.Block3d__content {
  transform: translateZ(0); /* to prevent flicker */
  height: 100%; /* always fill the height of the block, which is set in the jsx */
}

.Block3d__face {
  position: absolute;
  backface-visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
}


.Block3d__face--top,
.Block3d__face--bottom {
  width: 100%;
  z-index: -1;
  transform-origin: top center;
}
.Block3d__face--left,
.Block3d__face--right {
  height: 100%;
  z-index: -2;
}


.Block3d__face--top {
  transform: rotateX(90deg) rotateZ(180deg) translateZ(0);
}

.Block3d__face--bottom {
  top: 100%;
  transform: rotateX(-90deg);
}

.Block3d__face--left {
  transform-origin: left;
  transform: rotateY(-90deg) translateX(-100%) translateZ(0);
}
.Block3d__face--right {
  left: auto;
  right: 0;
  transform-origin: right;
  transform: rotateY(90deg) translateX(100%) translateZ(0);
}