@import '../scss/shared.scss';

.Block3d--wrapper {
}

.Block3d, .Block3d--wrapper {
  position: relative;
  transform-style: preserve-3d;
  display: inline-block;
  vertical-align: top;
  backface-visibility: hidden;
}

.Block3d {
  pointer-events: none;
  transform-origin: 0 0;
  transition: transform 200ms cubic-bezier(0.86, 0, 0.07, 1);
}

.Block3d__content {
  transform: translateZ(0); /* to prevent flicker */
  transform-style: preserve-3d;
}


.Block3d__face {
  position: absolute;
  backface-visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: top left;
}


.Block3d__face--top,
.Block3d__face--bottom {
  width: 100%;
  z-index: -1;
  transform-origin: top center;
}
.Block3d__face--left,
.Block3d__face--right {
  height: 100%;
  z-index: -2;
}

// .01 is to fix a rendering issue on chrome with the outer side walls
.Block3d__face--left {
  transform-origin: left;
  transform: rotateY(-90.01deg) translateX(-100%) translateZ(0);
}
.Block3d__face--right {
  left: auto;
  right: 0;
  transform-origin: right;
  transform: rotateY(90.01deg) translateX(100%) translateZ(0);
}


.Block3d__face--bottom {
  top: 100%;
  transform: rotateX(-90deg);
}


.Block3d--shadow {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  opacity: 0.1;
  z-index: -999;
  pointer-events: none;

  @media screen and (max-width: $breakpoint-mobile){
    top: 1.5rem;
    left: 1.5rem;
  }
}




// extra DOM elements to give crisp borders around boxes
.Block3d__face--left--extraBorderLeft {
  width: 1px;
  transform: rotate3d(1,0,0,-90deg);
}
.Block3d__face--left--extraBorderBottom {
  width: 1px;
  height: 100%;
}
.Block3d__face--right--extraBorderRight {
  left: auto;
  right: 0;
  width: 1px;
  transform: rotate3d(1,0,0,-90deg);
}
.Block3d__face--right--extraBorderBottom {
  left: auto;
  right: 0;
  width: 1px;
  height: 100%;
}
.Block3d__face--bottom--extraBorderLeft {
  top: 100%;
  width: 1px;
  transform-origin: top left;
  transform: rotate3d(1,0,0,-90deg);
}
.Block3d__face--bottom--extraBorderRight {
  top: 100%;
  left: auto;
  right: 0;
  width: 1px;
  transform: rotate3d(1,0,0,-90deg);
}
.Block3d__face--bottom--extraBorderBottom {
  top: auto;
  bottom: 0;
  width: 100%;
  height: 1px;
}
