.SiteFooter {
  width: 100%;
  position: relative;
  padding: 3rem;

  min-height: 12rem;
  margin-top: -12rem; // to cover up the 3d bottom

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0.75rem;
  }
}


.SiteFooter__content {
  margin: 0 auto;
  max-width: 48.5rem;
  padding-bottom: 6rem;


  h2 {
    margin-left: 1.25rem;
    margin-bottom: 0.5rem;

    @media screen and (max-width: $breakpoint-mobile) {
      padding-left: 1rem;
      margin-left: 0.5rem;
      padding-top: 3rem;
    }
  }
}


.SiteFooter__contentWrap {
  background-color: #f8f8f8;
  border: 1px solid #d6d6d6;
}

.SiteFooter__content__col {
  display: inline-block;
  width: 50%;
  padding: 1.5rem;
  vertical-align: top;

  &:nth-child(even) {
    padding-left: 0;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 1.5rem;
    width: 100%;
  }
}
