$title--colorGradient--startColor: #1a4f5c;
$title--colorGradient--endColor: #349cb6;

$activeColor--low: #28788c;
$activeColor--mid: #349cb6;
$activeColor--high: #41c4e5;
$borderColor: #ccc;
$borderColorBright: rgba(255, 100, 200, 1);

$bg-intro-end: #b7f2ff;
$bg-intro-start: #a8e3ff;

$App__header--background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.92)), url(../themes/glass/bg-blur.jpg) top center / cover;



$theme--glass: (
  // TITLE
  title--font: '../themes/default/goku.woff',
  title--font2: '../themes/default/goku.woff2',
  title--fontSize: 3.4rem,
  title--lineHeight: 2rem,
  title--fontSize--mobile: 3rem,
  title--fontSpacing: 0,
  title--textTransform: none,
  title--color: rgb(60, 60, 60),
  title--background: linear-gradient($title--colorGradient--startColor, $title--colorGradient--endColor),
  text--color: rgb(30, 20, 0),
  link--color: $title--colorGradient--endColor,


  // BUTTONS
  button--color: rgb(240,240,240),
  button--arrowColor: rgb(240,240,240),
  button--background: rgb(30,30,30),
  button--boxShadow: inset 0 0 0 2px rgb(240,240,240),
  button--background--mobile: rgb(20,20,20),
  button--boxShadow--mobile: inset 0 0 0 2px rgb(240,240,240),

  button--hover--background: rgb(30, 15, 0),
  button--hover--color: $activeColor--high,
  button--hover--arrowColor: $activeColor--high,
  button--hover--boxShadow: inset 0 0 0 0.1rem $activeColor--high,
  button--hover--face--side: $activeColor--mid,
  button--hover--face--bottom: $activeColor--low,


  // DEFAULT BLOCK3D VALUES, INDIVIDUAL STYLES CAN OVERRIDE THESE
  webBlock--background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.9)),
  webBlockSide--background: linear-gradient(90deg, rgba(230,180,250,0.25), rgba(210,210,210,0.65)),
  webBlockRightSide--background: linear-gradient(-90deg, rgba(230,180,250,0.25), rgba(210,210,210,0.65)),
  webBlockBottom--background: linear-gradient(rgba(210,210,210,0.85), rgba(180,180,250,0.45)),
  mobileBlock--background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.9)),
  mobileBlockSide--background: rgba(255,255,255,0.7),
  mobileBlockBottom--background: rgba(195,195,195,0.7),
  Block3d__content--outline: 1px solid $borderColor,



  // APP HEADER
  App__header--background: $App__header--background,
  App__headerBefore--background: #fff,
  App__headerAfter--background: linear-gradient(rgba(210,210,210,0.85), rgba(210,210,210,0.65)),
  App__header__x--color: $title--colorGradient--endColor,
  App__header__title--marginTop: 0.05rem, //visual offset
  App__header__menu__option--color: #909090,
  App__header__menu__option--borderColor: #93d6e6, //$borderColor,


  App__body--background: url(../themes/glass/bg-blur.jpg) top center / cover,
  App__body--mobile--background: url(../themes/glass/bg-blur-mobile.jpg) top center / cover,
  //App__body__scrollable__wrapper__outerFrame--background: url(../themes/glass/bg-8x8.png) top left / 4px rgba(255, 255, 255, 0.55),
  //App__body__scrollable__wrapper__outerFrame--boxShadow: inset 0 0 0 2px $borderColor,

  App__body__scrollable__wrapper__floor--background: url(../themes/glass/bg-8x8.png) top left / 4px,
  App__body__scrollable__wrapper__floor--boxShadow: inset 0 1px 0 0 rgb(170,170,170),

  App__body__scrollable__wrapper__floor--background--mobile: url(../themes/glass/bg-6x6.png) top left / 3px,// rgba(255, 255, 255, 0.2),
  App__body__scrollable__wrapper__floor--boxShadow--mobile: inset 0 1px 0 0 rgba(255,255,255,0.5),


  // SITE INTRO
  SiteIntro__header--fontSize: 6rem,
  SiteIntro__header--fontSize--mobile: 16vw,


  // SITE FOOTER
  SiteFooter--background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.3)),
  SiteFooter--boxShadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.8),
  SiteFooter__contentWrap--background: rgba(255,255,255,0.5),
  SiteFooter__contentWrap--boxShadow: inset 0 0 0 1px rgb(190,190,190),

  //SiteFooter__content__h2--textShadow: $SiteFooter__content__h2--textShadow,
  SiteFooter__content__h2--textStroke: 2px #f8f8f8,
  SiteFooter__content__h2--background: -webkit-linear-gradient($title--colorGradient--startColor, $title--colorGradient--endColor),
  SiteFooter__content__h2--color: $title--colorGradient--startColor,


  // PROJECT PREVIEW
  //ProjectPreview__leftCol__title--background: rgb(245, 245, 245),
  //ProjectPreview__leftCol__snippet--background: rgb(235, 235, 235),
  //ProjectPreview__rightCol--background: rgb(255, 255, 255),


  // PROJECT VIEW
  //ProjectView__title--background: rgb(255, 255, 255),
  //ProjectView__textCol__text--background: rgb(245, 245, 245)
  ProjectView__fact--background: rgba(255,255,255,0.7)
);