$theme--tech--title--colorGradient--startColor: red;
$theme--tech--title--colorGradient--endColor: white;
$theme--default--activeColor--low: #28788c;
$theme--default--activeColor--mid: #349cb6;
$theme--default--activeColor--high: #41c4e5;


$borderColor: cyan;

// left and right borders
$theme--tech--webBoxBottom--boxShadow: inset -2px 0 0 0 $borderColor, inset 2px 0 0 0 $borderColor;
$theme--tech--webBoxSide--boxShadow: inset 0 2px 0 0 $borderColor;



$theme--tech: (
  // TITLE
  title--font: '../themes/tech/voyager-grotesque--light.woff',
  title--font2: '../themes/tech/voyager-grotesque--light.woff2',
  title--fontSize: 2.85rem,
  title--fontSize--mobile: 3rem,
  title--fontSpacing: 1px,
  title--textTransform: uppercase,
  title--color: rgb(260, 60, 60),

  text--color: rgb(255, 255, 255),

  button--bg: rgb(60, 60, 60),
  button--color: rgb(255, 255, 255),
  button--arrowColor: rgb(255, 255, 255),
  button--boxShadow: inset 0 0 0 0.1rem #fff,

  button--hover--bg: rgb(30, 30, 30),
  button--hover--color: $theme--default--activeColor--high,
  button--hover--arrowColor: $theme--default--activeColor--high,
  button--hover--boxShadow: inset 0 0 0 0.1rem $theme--default--activeColor--high,
  button--hover--face--side: $theme--default--activeColor--mid,
  button--hover--face--bottom: $theme--default--activeColor--low,


  App__body--bg: url(../themes/tech/stars1.png) top left / 50px rgb(20, 20, 20),
  App__body--mobile--bg: url(../themes/default/siteIntro__bg.png) top left / 600px rgb(170, 170, 170),
  App__body__scrollable__wrapper__leftFrame: url(../themes/tech/stars3.png) top left / 200px,
  App__body__scrollable__wrapper__floor--bg: url(../themes/tech/stars2.png) top left / 140px,


  //PROJECT PREVIEW
  ProjectPreview__leftCol__title--background: rgba(255,0,0,0.6),
  ProjectPreview__leftCol__title--boxShadow: inset 0 0 0 1px yellow,
  ProjectPreview__leftCol__title--boxShadow--mobile: inset 0 0 0 1px orange,

  ProjectPreview__leftCol__title__side--background: rgba(200,0,0,0.6),
  ProjectPreview__leftCol__title__side--boxShadow: none,
  ProjectPreview__leftCol__title__side--boxShadow--mobile: inset -1px 1px 0 0px red,

  ProjectPreview__leftCol__title__bottom--background: rgba(100,0,0,0.6),
  ProjectPreview__leftCol__title__bottom--boxShadow: none,
  ProjectPreview__leftCol__title__bottom--boxShadow--mobile: inset 0 0 0 2px red,

  ProjectPreview__leftCol__title__text--background: -webkit-linear-gradient($theme--tech--title--colorGradient--startColor, $theme--tech--title--colorGradient--endColor),

  ProjectPreview__leftCol__snippet--background: rgba(0,0,0,0.5),
  ProjectPreview__leftCol__snippet--boxShadow: inset 0 0 0 2px $borderColor,

  ProjectPreview__rightCol--background: rgba(0,0,0,0.5),
  ProjectPreview__rightCol--boxShadow: inset 0 0 0 2px $borderColor,









  //PLACEHOLDER VALUES, INDIVIDUAL STYLES OVERRULE THIS
  webBoxSide--background: transparent,
  webBoxSide--boxShadow: $theme--tech--webBoxSide--boxShadow,
  webBoxBottom--background: transparent,
  webBoxBottom--boxShadow: $theme--tech--webBoxBottom--boxShadow,
  webBox--borderColor: $borderColor,




  //mobileBoxSide: rgba(255, 0, 0, 0.2),
  //mobileBoxBottom: rgba(150, 0, 0, 0.2),

  //PROJECT VIEW
  ProjectView__title--bg: rgb(255, 255, 255),
  ProjectView__textCol__text--bg: rgb(245, 245, 245)
);