$title--colorGradient--startColor: #cd48b9;
$title--colorGradient--endColor: #ffccf7;

$activeColor--low: rgba(150, 0, 100, 0.6);
$activeColor--mid: rgba(210, 0, 140, 0.6);
$activeColor--high: rgba(255, 100, 200, 1);
$borderColor: #d9008f;
$borderColorBright: rgba(255, 100, 200, 1);

$buttonBackground: #370030;

$webBlockSide--boxShadow: inset 0 2px 0 0 $borderColor;
$webBlockBottom--boxShadow: inset -2px 0 0 0 $borderColor, inset 2px 0 0 0 $borderColor;
$fact--boxShadow: inset 0 2px 0 0 $borderColor, inset 2px 0 0 0 $borderColor, inset -2px 0 0 0 $borderColor;
$factPic--boxShadow: inset 0 -2px 0 0 $borderColor, inset 2px 0 0 0 $borderColor, inset -2px 0 0 0 $borderColor;
$mobileBlockSide--boxShadow: inset -1px 0 0 0 $borderColor, inset 0 1px 0 0 $borderColor;
$mobileBlockBottom--boxShadow: inset 1px 0 0 0 $borderColor, inset 0 -1px 0 0 $borderColor, inset -1px 0 0 0 $borderColor;
$mobileFact--boxShadow: inset 0 1px 0 0 $borderColor, inset 1px 0 0 0 $borderColor, inset -1px 0 0 0 $borderColor;
$mobileFactPic--boxShadow: inset 1px 0 0 0 $borderColor, inset 0 -1px 0 0 $borderColor, inset -1px 0 0 0 $borderColor;


$theme--tech: (
  // TITLES
  title--font: '../themes/tech/voyager-grotesque--light.woff',
  title--font2: '../themes/tech/voyager-grotesque--light.woff2',
  title--fontSize: 2.85rem,
  title--fontSize--mobile: 2.5rem,
  title--fontSpacing: 1px,
  title--textTransform: uppercase,
  title--color: rgb(260, 60, 60),
  title--background: -webkit-linear-gradient($title--colorGradient--startColor, $title--colorGradient--endColor),
  text--color: rgb(255, 255, 255),


  // BUTTONS
  button--color: $borderColorBright,
  button--arrowColor: $borderColorBright,
  button--background: $buttonBackground,
  button--boxShadow: inset 0 0 0 2px $borderColorBright,
  button--background--mobile: $buttonBackground,
  button--boxShadow--mobile: inset 0 0 0 2px $borderColorBright,

  button--hover--background: $activeColor--high,
  button--hover--color: #000,
  button--hover--arrowColor: #000,
  button--hover--boxShadow: inset 0 0 0 2px $activeColor--high,
  button--hover--face--side: $activeColor--mid,
  button--hover--face--bottom: $activeColor--low,


  // DEFAULT BLOCK3D VALUES, INDIVIDUAL STYLES CAN OVERRIDE THESE
  webBlock--background: rgba(0,0,0,0.5),
  webBlock--boxShadow: inset 0 0 0 2px $borderColor,
  webBlockSide--background: transparent,
  webBlockSide--boxShadow: $webBlockSide--boxShadow,
  webBlockBottom--background: transparent,
  webBlockBottom--boxShadow: $webBlockBottom--boxShadow,
  webBlock--borderColor: $borderColor, // used for extra visual beef
  mobileBlock--boxShadow: inset 0 0 0 1px $borderColor,
  mobileBlockSide--boxShadow: $mobileBlockSide--boxShadow,
  mobileBlockBottom--boxShadow: $mobileBlockBottom--boxShadow,
  mobileBlockSide--background: transparent,
  mobileBlockBottom--background: transparent,

  //$side--mobile: map-get($properties, 'mobileBlockSide--background');
  //$bottom--mobile: map-get($properties, 'mobileBlockBottom--background');


  // APP HEADER
  App__header--background: $buttonBackground,
  App__headerBefore--background: $borderColor,
  App__headerAfter--background: rgba(150, 0, 100, 1),
  App__header__x--color: $title--colorGradient--startColor,
  //App__header__title--marginTop:
  App__header__menu__option--color: $borderColor,
  App__header__menu__option--borderColor: $borderColor,


  App__body--background: url(../themes/tech/stars1.png) top left / 50px rgb(20, 20, 20),
  App__body--mobile--background: url(../themes/tech/stars1.png) top left / 50px rgb(20, 20, 20),
  App__body__scrollable__wrapper__outerFrame--background: url(../themes/tech/stars3.png) top left / 100px,
  App__body__scrollable__wrapper__outerFrame--boxShadow: inset 0 0 0 2px $borderColor,
  App__body__scrollable__wrapper__floor--background: url(../themes/tech/stars2.png) top left / 140px,


  // PROJECT PREVIEW
  ProjectPreview__leftCol__title--background: url(../themes/tech/bg-diagonal.png) top left / 4px,
  ProjectPreview__leftCol__title--boxShadow: inset 0 0 0 2px $borderColor,
  //ProjectPreview__leftCol__title--boxShadow--mobile: inset 0 0 0 1px orange,
  //ProjectPreview__leftCol__title__side--background: rgba(0,0,0,0),
  //ProjectPreview__leftCol__title__side--boxShadow:
  //ProjectPreview__leftCol__title__side--boxShadow--mobile: inset -1px 1px 0 0 red,
  //ProjectPreview__leftCol__title__bottom--background: rgba(0,0,0,0),
  //ProjectPreview__leftCol__title__bottom--boxShadow:
  //ProjectPreview__leftCol__title__bottom--boxShadow--mobile: inset 0 0 0 2px red,
  //ProjectPreview__leftCol__snippet--background:
  //ProjectPreview__leftCol__snippet--boxShadow:
  ProjectPreview__rightCol--background: rgba(0,0,0,0.5),
  ProjectPreview__rightCol--boxShadow: inset 0 0 0 2px $borderColor,


  // PROJECT VIEW
  ProjectView__title--background: url(../themes/tech/bg-diagonal.png) top left / 4px,
  ProjectView__title--boxShadow: inset 0 0 0 2px $borderColor,
  ProjectView__picCol__pic--background: rgba(0,0,0,0.5),
  ProjectView__picCol__pic--boxShadow: inset 0 0 0 2px $borderColor,
  ProjectView__textCol__subhead--background: url(../themes/tech/bg-diagonal.png) top left / 4px,
  ProjectView__textCol__subhead--boxShadow: inset 0 0 0 2px $borderColor,
  ProjectView__textCol__text--background: rgba(0,0,0,0.5),
  ProjectView__textCol__text--boxShadow: inset 0 0 0 2px $borderColor,
  ProjectView__fact--background: rgba(0,0,0,0.5),
  ProjectView__fact--boxShadow: $fact--boxShadow,
  ProjectView__fact--boxShadow--mobile: $mobileFact--boxShadow,
  ProjectView__factPic--background: rgba(0,0,0,0.5),
  ProjectView__factPic--boxShadow: $factPic--boxShadow,
  ProjectView__factPic--topBorder: $borderColor, // web only, hidden for mobile
  ProjectView__factPic--boxShadow--mobile: $mobileFactPic--boxShadow,
);