@import '../scss/shared.scss';

.ProjectPreview {
  margin-bottom: 8rem;

  @media screen and (max-width: $breakpoint-mobile){
    margin-bottom: 4rem;
  }
}


.ProjectPreview__rightCol {
  position: relative;
  width: 24rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;

  @media screen and (max-width: $breakpoint-mobile){
    width: 100%;
  }
}


.ProjectPreview__leftCol {
  width: 22rem;
  display: inline-block;
  text-align: right;
  vertical-align: top;

  @media screen and (max-width: $breakpoint-mobile){
    width: 100%;
    text-align: left;
  }
}


.ProjectPreview__leftCol__title {
  @extend h1;

  @media screen and (max-width: $breakpoint-mobile){
    z-index: -1 !important; //to override Block3d inline styles
    transform: translateZ(-6rem); //TODO: figure out why this works
  }
}


.ProjectPreview__leftCol__thumb {
  @media screen and (max-width: $breakpoint-mobile){
    margin: 0.75rem;
    //z-index: 1 !important; //to override Block3d inline styles
  }
}


.ProjectPreview__leftCol__snippet {
  display: block;
  text-align: left;


  @media screen and (max-width: $breakpoint-mobile){
    margin: 0.75rem;
    z-index: 1 !important; //to override Block3d inline styles
  }
}




/* BEGIN ROUTE BUTTON STYLES */


.ProjectPreview__leftCol__routeWrapper {
  position: relative;

  @media screen and (max-width: $breakpoint-mobile){
    text-align: right;
  }
}


.ProjectPreview__leftCol__route {
  margin: 0 1.35rem 0 0;
  cursor: pointer;

  @media screen and (max-width: $breakpoint-mobile){
    z-index: 1 !important; //to override Block3d inline styles
    margin-top: -1.5rem;
    margin-right: 2.5rem;
    margin-bottom: 3rem;
    position: relative;
  }

  .Block3d {
    @extend .floatingButton;
  }

  .Block3d__content {
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    box-shadow: $buttonBoxShadow;
    transition: $buttonHoverTransition;

    @media screen and (max-width: $breakpoint-mobile){
      padding: 1.2rem 2rem 1.2rem 1.2rem;
    }
  }

  h2 {
    transition: $buttonHoverTransition;

    @media screen and (max-width: $breakpoint-mobile){
      font-size: 1.4rem;
    }
  }

  h2:after {
    @include rightArrow(0.22);
    transition: $buttonHoverTransition;

    @media screen and (max-width: $breakpoint-mobile){
      @include rightArrow(0.36);
    }
  }


  &:hover {
    // background + border
    .Block3d__content { background-color: $highlightColor; }

    // text
    h2 { color: #fff; }

    // arrow
    h2:after { border-left-color: #fff; }
  }
}

/* END ROUTE BUTTON STYLES */
