@import '../scss/shared.scss';

.ProjectPreview {
  margin-bottom: 8rem;

  @media screen and (max-width: $breakpoint-mobile){
    margin-bottom: 4rem;
  }
}


.ProjectPreview__rightCol {
  position: relative;
  width: 30rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;

  @media screen and (max-width: $breakpoint-mobile){
    width: 100%;
  }
}


.ProjectPreview__leftCol {
  width: 22rem;
  margin-right: 2rem;
  display: inline-block;
  vertical-align: top;

  @media screen and (max-width: $breakpoint-mobile){
    width: 100%;
  }
}


.ProjectPreview__leftCol__title {
  width: 100%;
  margin-bottom: 2rem;

  @media screen and (max-width: $breakpoint-mobile){
    width: auto;
    max-width: calc(100% - 1.5rem);
    z-index: -1 !important; //to override Block3d inline styles
    transform: translateZ(-6rem); //TODO: figure out why this works

    .Block3d--shadow {
      top: 2.25rem;
      left: 2.25rem;
    }
  }

  .Block3d {
    width: 100%;
  }
}


.ProjectPreview__leftCol__thumb {
  @media screen and (max-width: $breakpoint-mobile){
    margin: 0.75rem;
  }
}


//TODO: maybe wrap this so we can align right for tablet screens
.ProjectPreview__leftCol__snippet {
  display: block;
  text-align: left;

  @media screen and (max-width: $breakpoint-mobile){
    margin: 0.75rem;
    z-index: 1 !important; //to override Block3d inline styles
  }
}




// BEGIN ROUTE BUTTON STYLES
.ProjectPreview__leftCol__routeWrapper {
  text-align: right;

  @media screen and (max-width: $breakpoint-mobile){
    position: relative; // so it floats above text on mobile
    z-index: 2;
  }
}


.ProjectPreview__leftCol__route {
  margin: 0 1.5rem 0 0;


  @media screen and (max-width: $breakpoint-mobile){
    margin-top: -1.5rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    position: relative;
  }
}