.ProjectPreview__rightCol .Block3d__content {
  background: map-get($properties, 'ProjectPreview__rightCol--background');
  box-shadow: map-get($properties, 'ProjectPreview__rightCol--boxShadow');

  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(
        1.5rem,
        $side--mobile,
        $bottom--mobile,
        $sideShadow--mobile,
        $bottomShadow--mobile
    );
  }
}

.ProjectPreview__leftCol__title .Block3d__content {
  background: map-get($properties, 'ProjectPreview__leftCol__title--background');
  box-shadow: map-get($properties, 'ProjectPreview__leftCol__title--boxShadow');

  h2 {
    @extend .title--subhead--#{$name};
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
        1.5rem,
        $side--mobile,
        $bottom--mobile,
        $sideShadow--mobile,
        $bottomShadow--mobile
    );
  }
}

.ProjectPreview__leftCol__title .Block3d__face--right {
  background: map-get($properties, 'ProjectPreview__leftCol__title__side--background');
  box-shadow: map-get($properties, 'ProjectPreview__leftCol__title__side--boxShadow');
}

.ProjectPreview__leftCol__title .Block3d__face--bottom {
  background: map-get($properties, 'ProjectPreview__leftCol__title__bottom--background');
  box-shadow: map-get($properties, 'ProjectPreview__leftCol__title__bottom--boxShadow');
}





.ProjectPreview__leftCol__thumb .Block3d__content {
  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}

.ProjectPreview__leftCol__snippet .Block3d__content {
  background: map-get($properties, 'ProjectPreview__leftCol__snippet--background');
  box-shadow: map-get($properties, 'ProjectPreview__leftCol__snippet--boxShadow');

  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}

.ProjectPreview__leftCol__route .Block3d__content {
  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(
      0.25rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}