.button {
  .button__text {
    @extend .title--button--#{$name};
    color: map-get($properties, 'button--color');
    text-transform: map-get($properties, 'title--textTransform');
  }
  .Block3d__content {
    box-shadow: map-get($properties, 'button--boxShadow');
    background: map-get($properties, 'button--background');

    @media screen and (max-width: $breakpoint-mobile){
      box-shadow: map-get($properties, 'button--boxShadow--mobile');
      background: map-get($properties, 'button--background--mobile');
    }
  }

  &:hover {
    .button__text {
      color: map-get($properties, 'button--hover--color');
    }
    .Block3d__content {
      box-shadow: map-get($properties, 'button--hover--boxShadow');
      background: map-get($properties, 'button--hover--background');
    }

    .Block3d__face--bottom {
      background: map-get($properties, 'button--hover--face--bottom');
    }
    .Block3d__face--left,
    .Block3d__face--right {
      background: map-get($properties, 'button--hover--face--side');
    }

    .button__text--arrowRight:after {
      border-left-color: map-get($properties, 'button--hover--arrowColor');
    }
    .button__text--arrowBottom:after {
      border-top-color: map-get($properties, 'button--hover--arrowColor');
    }
  }
}


.button__text--arrowRight {
  padding-right: 0.4rem;

  &:after {
    transition: $buttonHoverTransition;
    @include rightArrow(0.22, map-get($properties, 'button--arrowColor'));

    @media screen and (max-width: $breakpoint-mobile){
      @include rightArrow(0.3, map-get($properties, 'button--arrowColor'));
    }
  }
}


.button__text--arrowBottom {
  padding-bottom: 0.1rem;

  &:after {
    transition: $buttonHoverTransition;
    @include bottomArrow(0.22, map-get($properties, 'button--arrowColor'));

    @media screen and (max-width: $breakpoint-mobile) {
      @include bottomArrow(0.3, map-get($properties, 'button--arrowColor'));
    }
  }
}