.ProjectGroup__leftCol__subhead .Block3d__content {
  background: map-get($properties, 'ProjectGroup__leftCol__subhead--background');
  box-shadow: map-get($properties, 'ProjectGroup__leftCol__subhead--boxShadow');

  h2 {
    @extend .title--ProjectView__subhead--#{$name};
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}

.ProjectGroup__leftCol__text {
  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}



.ProjectGroup__video__block {
  .Block3d__content {
    background: map-get($properties, 'ProjectGroup__video__block--background');
    box-shadow: map-get($properties, 'ProjectGroup__video__block--boxShadow');
  }

  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(
      2.25rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}