.SiteFooter {
  background: map-get($properties, 'SiteFooter--background');
  box-shadow: map-get($properties, 'SiteFooter--boxShadow');
}

.SiteFooter__contentWrap {
  background: map-get($properties, 'SiteFooter__contentWrap--background');
  box-shadow: map-get($properties, 'SiteFooter__contentWrap--boxShadow');
}

.SiteFooter__content h2 {
  @extend .title--subhead--#{$name};

  //-webket-text-stroke: map_get($properties, 'SiteFooter__content__h2--textStroke');
  //text-shadow: map-get($properties, 'SiteFooter__content__h2--textShadow');
  //color:  map-get($properties, 'SiteFooter__content__h2--color');

  font-size: 6rem;
}