.App__body__scrollable__wrapper__leftFrame,
.App__body__scrollable__wrapper__rightFrame {

  .Block3d__content {
    background: map-get($properties, 'App__body__scrollable__wrapper__leftFrame');
  }
}

.Block3d__face--top {
  background-color: rgb(220, 220, 220);
}
.Block3d__face--bottom {
  background-color: map-get($properties, 'webBoxBottom--bg');
  border: map-get($properties, 'webBoxBottom--border');
}
.Block3d__face--left,
.Block3d__face--right {
  background-color: map-get($properties, 'webBoxSide--bg');
  border: map-get($properties, 'webBoxSide--border');
}



/* TODO: be smarter about calculating these values later...keep it loose for now */

.Block3d__content {
  /*outline: 1px solid rgb(235,235,235);*/
  background-color: rgb(255, 255, 255);

  //TODO: titles go in h tag?
  color: map-get($properties, 'title--color');

  p {
    color: map-get($properties, 'text--color');
  }
}
.Block3d__content--14 {
  background: red;
  /*outline: 1px solid rgb(165,165,165);*/
  //background-color: rgb(192, 192, 192);
}
.Block3d__content--12 {
  background: red;
  /*outline: 1px solid rgb(175,175,175);*/
  //background-color: rgb(201, 201, 201);
}
.Block3d__content--10 {
  background: red;
  /*outline: 1px solid rgb(185,185,185);*/
  //background-color: rgb(210, 210, 210);
}
.Block3d__content--8 {
  background: red;
  /*outline: 1px solid rgb(195,195,195);*/
  //background-color: rgb(219, 219, 219);
}
.Block3d__content--6 {
  background: red;
  /*outline: 1px solid rgb(205,205,205);*/
  //background-color: rgb(228, 228, 228);
}
.Block3d__content--4 {
  background: red;
}
.Block3d__content--2 {
  background: red;
  /* outline: 1px solid rgb(225,225,225); */
  //background-color: rgb(246, 246, 246);
}