@import '../../scss/shared.scss';




@mixin themeBuilder($name, $properties) {

  // define vars for property values we use often throughout the themebuilder files
  //$side--mobile: map-get($properties, 'ProjectPreview__leftCol__title__side--background');
  //$bottom--mobile: map-get($properties, 'ProjectPreview__leftCol__title__bottom--background');
  $side--mobile: map-get($properties, 'mobileBlockSide--background');
  $bottom--mobile: map-get($properties, 'mobileBlockBottom--background');
  $boxShadow--mobile: map-get($properties, 'mobileBlock--boxShadow');
  $sideShadow--mobile: map-get($properties, 'mobileBlockSide--boxShadow');
  $bottomShadow--mobile: map-get($properties, 'mobileBlockBottom--boxShadow');






  // generate name-spaced classes for theme
  @font-face {
    font-family:   'title--#{$name}';
    src:            url(map-get($properties, 'title--font2')) format('woff2'),
                    url(map-get($properties, 'title--font')) format('woff');
    font-weight:    normal;
    font-style:     normal;
  }

  .title--head--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      2rem;
    letter-spacing: 0.08rem;
    color:          map-get($properties, 'highlightColor');
    text-transform: map-get($properties, 'title--textTransform');

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: map-get($properties, 'title--fontSize--mobile');
    }
  }

  .title--subhead--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      map-get($properties, 'title--fontSize');
    letter-spacing: map-get($properties, 'title--fontSpacing');
    color:          map-get($properties, 'title--color');
    text-transform: map-get($properties, 'title--textTransform');
    background:     map-get($properties, 'title--background');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: map-get($properties, 'title--fontSize--mobile');
    }
  }

  .title--ProjectView--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      5rem;
    letter-spacing: map-get($properties, 'title--fontSpacing');
    color:          map-get($properties, 'title--color');
    text-transform: map-get($properties, 'title--textTransform');
    background:     map-get($properties, 'title--background');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.2rem 0; // type descenders

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: map-get($properties, 'title--fontSize--mobile');
    }
  }

  .title--ProjectView__subhead--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      1.8rem; //map-get($properties, 'title--fontSize');
    letter-spacing: map-get($properties, 'title--fontSpacing');
    text-transform: map-get($properties, 'title--textTransform');
    background:     map-get($properties, 'title--background');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.1rem 0; // to protect descenders
    //text-rendering: geometricPrecision;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: map-get($properties, 'title--fontSize--mobile');
    }
  }

  .title--ProjectView__fact__title--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      1.4rem;
    letter-spacing: map-get($properties, 'title--fontSpacing');
    color:          map-get($properties, 'title--color');
    text-transform: map-get($properties, 'title--textTransform');

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: map-get($properties, 'title--fontSize--mobile');
    }
  }

  .title--button--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      0.8rem;
    letter-spacing: 0.05rem;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 1.2rem;
    }
  }




  // generate styles for theme
  .theme--#{$name} {
    @import 'themeBuilder--shared';
    @import 'themeBuilder--button';
    @import 'themeBuilder--App';
    @import 'themeBuilder--SiteIntro';
    @import 'themeBuilder--SiteFooter';
    @import 'themeBuilder--Block3d';
    @import 'themeBuilder--ProjectPreview';
    @import 'themeBuilder--ProjectView';
    @import 'themeBuilder--ProjectGroup';
    @import 'themeBuilder--ProjectNugget';
  }
}
