@import '../../scss/shared.scss';




@mixin themeBuilder($name, $properties) {
  // generate name-spaced classes for theme

  @font-face {
    font-family:   'title--#{$name}';
    src:            url(map-get($properties, 'title--font2')) format('woff2'),
                    url(map-get($properties, 'title--font')) format('woff');
    font-weight:    normal;
    font-style:     normal;
  }

  .title--head--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      2rem;
    letter-spacing: 0.08rem;
    color:          map-get($properties, 'highlightColor');
    text-transform: map-get($properties, 'title--textTransform');
  }

  .title--subhead--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      map-get($properties, 'title--fontSize');
    letter-spacing: map-get($properties, 'title--fontSpacing');
    color:          map-get($properties, 'title--color');
    text-transform: map-get($properties, 'title--textTransform');

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: map-get($properties, 'title--fontSize--mobile');
    }
  }

  .title--button--#{$name} {
    font-family:   'title--#{$name}';
    font-size:      0.8rem;
    letter-spacing: 0.05rem;
    color:          red;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 1.2rem;
    }
  }




  // generate styles for theme

  .theme--#{$name} {
    @import 'themeBuilder--button';
    @import 'themeBuilder--App';
    @import 'themeBuilder--SiteIntro';
    @import 'themeBuilder--Block3d';
    @import 'themeBuilder--ProjectPreview';
    @import 'themeBuilder--ProjectDesc';
    @import 'themeBuilder--ProjectView';
  }
}
