$side: map-get($properties, 'mobileBoxSide');
$bottom: map-get($properties, 'mobileBoxBottom');


.ProjectPreview__rightCol .Block3d__content {
  background: map-get($properties, 'ProjectPreview__rightCol--background');
  border: map-get($properties, 'ProjectPreview__rightCol--border');

  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(1.5rem, $side, $bottom);
  }
}

.ProjectPreview__leftCol__title .Block3d__content {
  background: map-get($properties, 'ProjectPreview__leftCol__title--background');
  border: map-get($properties, 'ProjectPreview__leftCol__title--border');

  @extend .title--subhead--#{$name};

  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(1.5rem, $side, $bottom);
  }
}

.ProjectPreview__leftCol__title .Block3d__face--right {
  background: map-get($properties, 'ProjectPreview__leftCol__title__side--background');
  border: map-get($properties, 'ProjectPreview__leftCol__title__side--border');
}

.ProjectPreview__leftCol__title__text {
  background: map-get($properties, 'ProjectPreview__leftCol__title__text--background');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





.ProjectPreview__leftCol__thumb .Block3d__content {
  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(0.75rem, $side, $bottom);
  }
}

.ProjectPreview__leftCol__snippet .Block3d__content {
  background: map-get($properties, 'ProjectPreview__leftCol__snippet--background');

  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(0.75rem, $side, $bottom);
  }
}

.ProjectPreview__leftCol__route .Block3d__content {
  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(0.25rem, $side, $bottom);
  }
}