.Block3d__content {
  background: map-get($properties, 'webBlock--background');
  box-shadow: map-get($properties, 'webBlock--boxShadow');

  @media screen and (max-width: $breakpoint-mobile) {
    background: map-get($properties, 'mobileBlock--background');
    box-shadow: map-get($properties, 'mobileBlock--boxShadow');
  }

  p {
    color: map-get($properties, 'text--color');
  }
}

.Block3d__face--bottom {
  background-color: map-get($properties, 'webBlockBottom--background');
  box-shadow: map-get($properties, 'webBlockBottom--boxShadow');
}
.Block3d__face--left,
.Block3d__face--right {
  background: map-get($properties, 'webBlockSide--background');
  box-shadow: map-get($properties, 'webBlockSide--boxShadow');
}


.Block3d__content img {
  outline: map-get($properties, 'Block3d__content--outline');
}


// gives visual depth to border. not needed on mobile
.Block3d__face--bottom__border {
  background: map-get($properties, 'webBlock--borderColor');

  @media screen and (max-width: $breakpoint-mobile) {
    display: none;
  }
}
// these pseudo elements are applied to help increase visibility of the box shadow borders
.Block3d__face--left,
.Block3d__face--right,
.Block3d__face--bottom {
  &:after,
  &:before {
    background: map-get($properties, 'webBlock--borderColor');
  }
}