.App__header {
  background: map-get($properties, 'App__header--background');

  &:before {
    background: map-get($properties, 'App__headerBefore--background');
  }
  &:after {
    background: map-get($properties, 'App__headerAfter--background');
  }
}

.App__header__x {
  &:after {
    @include backArrow(0.22, map-get($properties, 'App__header__x--color'));
  }
}

.App__header__title {
  @extend .title--subhead--#{$name};
  margin-top: map-get($properties, 'App__header__title--marginTop');

  //TODO: move sizes to mixin
  font-size: 1rem;

  @media screen and (max-width: $breakpoint-mobile){
    font-size: 1.5rem;
  }
}

.App__header__menu__option {
  color: map-get($properties, 'App__header__menu__option--color');
  border-left-color: map-get($properties, 'App__header__menu__option--borderColor');
}

// arrow for sub menu items
.App__header__menu__option--sub {
  &:before {
    @include rightArrow(0.18, map-get($properties, 'App__header__menu__option--borderColor'));

    @media screen and (max-width: $breakpoint-mobile){
      @include rightArrow(0.3, map-get($properties, 'App__header__menu__option--borderColor'));
    }
  }
}




.App__body {
  background: map-get($properties, 'App__body--background');

  @media screen and (max-width: $breakpoint-mobile) {
    background: map-get($properties, 'App__body--mobile--background');
  }
}

.App__body__scrollable__wrapper__outerFrame {
  .Block3d__content {
    background: map-get($properties, 'App__body__scrollable__wrapper__outerFrame--background');
    box-shadow: map-get($properties, 'App__body__scrollable__wrapper__outerFrame--boxShadow');
  }
  .Block3d__face--left,
  .Block3d__face--right {
    box-shadow: map-get($properties, 'App__body__scrollable__wrapper__outerFrame__side--boxShadow');

    &:after,
    &:before {
      background: map-get($properties, 'App__body__scrollable__wrapper__outerFrame__sidePsuedo--background');
    }
  }
}

.App__body__scrollable__wrapper__floor {
  background: map-get($properties, 'App__body__scrollable__wrapper__floor--background');

  @media screen and (max-width: $breakpoint-mobile) {
    background-image: none;
    background-color: transparent;
    border-top: 1px solid #555;
  }
}

.App__body__scrollable__footer {
  background-image: url(../themes/default/siteIntro__bg.png), url(../themes/default/bg-8x8.png);
  background-size: 900px, 4px;
}

.App__body__scrollable__footer__content__title {
  @extend .title--head--#{$name};
}