.App__header {
  background-color: #ffffff;
  font-size: 2rem;
}

.App__header__title {
  @extend .title--subhead--#{$name};
  font-size: 1rem;
  //text-transform: uppercase;
}




.App__body {
  color: #333;

  background: map-get($properties, 'App__body--bg');

  @media screen and (max-width: $breakpoint-mobile) {
    background: map-get($properties, 'App__body--mobile--bg');
  }
}

.App__body__scrollable__wrapper__floor {
  background: map-get($properties, 'App__body__scrollable__wrapper__floor--bg');

  @media screen and (max-width: $breakpoint-mobile) {
    background-image: none;
    background-color: transparent;
    border-top: 1px solid #555;
  }
}

.App__body__scrollable__footer {
  background-image: url(../themes/default/siteIntro__bg.png), url(../themes/default/bg-8x8.png);
  background-size: 900px, 4px;
}

.App__body__scrollable__footer__content__title {
  @extend .title--head--#{$name};
}