.ProjectView__title .Block3d__content {
  background: map-get($properties, 'ProjectView__title--background');
  box-shadow: map-get($properties, 'ProjectView__title--boxShadow');

  h1 {
    @extend .title--ProjectView--#{$name};
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      1.5rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}


.ProjectView__picCol__pic .Block3d__content {
  background: map-get($properties, 'ProjectView__picCol__pic--background');
  box-shadow: map-get($properties, 'ProjectView__picCol__pic--boxShadow');

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      2.25rem,
      transparent,
      $bottom--mobile,
      'none',
      $bottomShadow--mobile
    );
  }
}


.ProjectView__textCol__subhead .Block3d__content {
  background: map-get($properties, 'ProjectView__textCol__subhead--background');
  box-shadow: map-get($properties, 'ProjectView__textCol__subhead--boxShadow');

  h2 {
    @extend .title--ProjectView__subhead--#{$name};
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;
    display: inline-block;

    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}


.ProjectView__textCol__text .Block3d__content {
  background: map-get($properties, 'ProjectView__textCol__text--background');
  box-shadow: map-get($properties, 'ProjectView__textCol__text--boxShadow');


  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}


.ProjectView__fact .Block3d__content {
  background: map-get($properties, 'ProjectView__fact--background');
  box-shadow: map-get($properties, 'ProjectView__fact--boxShadow');

  h2 {
    @extend .title--ProjectView__subhead--#{$name};
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: map-get($properties, 'ProjectView__fact--boxShadow--mobile');
  }
}


.ProjectView__factPic .Block3d__content {
  background: map-get($properties, 'ProjectView__factPic--background');
  box-shadow: map-get($properties, 'ProjectView__factPic--boxShadow');

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: calc(100% - 19rem + 2px); // fact + border width
    background: map-get($properties, 'ProjectView__factPic--topBorder');
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: map-get($properties, 'ProjectView__factPic--boxShadow--mobile');

    @include mobileBox(
      3rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}
