
.ProjectNugget__subhead .Block3d__content {
  background: map-get($properties, 'ProjectNugget__subhead--background');
  box-shadow: map-get($properties, 'ProjectNugget__subhead--boxShadow');

  h2 {
    @extend .title--ProjectView__subhead--#{$name};
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;
    display: inline-block;

    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}


.ProjectNugget__text .Block3d__content {
  background: map-get($properties, 'ProjectNugget__text--background');
  box-shadow: map-get($properties, 'ProjectNugget__text--boxShadow');

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}
