.ProjectView__title .Block3d__content {
  background: map-get($properties, 'ProjectView__title--background');
  box-shadow: map-get($properties, 'ProjectView__title--boxShadow');

  h1 {
    @extend .title--ProjectView--#{$name};
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      1.5rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}


.ProjectView__picCol__pic .Block3d__content {
  background: map-get($properties, 'ProjectView__picCol__pic--background');
  //box-shadow: map-get($properties, 'ProjectView__picCol__pic--boxShadow');

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      2.25rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}


.ProjectView__row__mobilePic .Block3d__content {
  //background: map-get($properties, 'ProjectView__picCol__pic--background');
  //box-shadow: map-get($properties, 'ProjectView__picCol__pic--boxShadow');

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      2.25rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}