.ProjectView__title .Block3d__content {
  @extend .title--ProjectView--#{$name};
  background: map-get($properties, 'ProjectView__title--background');
  box-shadow: map-get($properties, 'ProjectView__title--boxShadow');
}

.ProjectView__title__text {
  background: map-get($properties, 'ProjectView__title__text--background');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.ProjectView__pic .Block3d__content {
  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(2.25rem, transparent, rgb(160, 160, 160));
  }
}




.ProjectView__textCol__subhead {
  @extend .title--ProjectView__subhead--#{$name};
}

.ProjectView__textCol__text .Block3d__content {
  background: map-get($properties, 'ProjectView__textCol__text--bg');
}

.ProjectView__fact__title {
  @extend .title--ProjectView__fact__title--#{$name};
}