.ProjectGroup__leftCol__subhead .Block3d__content {
  background: map-get($properties, 'ProjectGroup__leftCol__subhead--background');
  box-shadow: map-get($properties, 'ProjectGroup__leftCol__subhead--boxShadow');

  h2 {
    @extend .title--ProjectView__subhead--#{$name};
  }

  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}

.ProjectGroup__leftCol__text {
  @media screen and (max-width: $breakpoint-mobile) {
    box-shadow: $boxShadow--mobile;

    @include mobileBox(
      0.75rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}




.ProjectGroup__rightCol__videoBgBlock {
  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(
      1.5rem,
      $side--mobile,
      $bottom--mobile,
      $sideShadow--mobile,
      $bottomShadow--mobile
    );
  }
}