.WorkView {
}

.WorkView__project {
  margin-bottom: 6rem;
}

.WorkView__project--leftCol {
  width: 22rem;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.WorkView__project--rightCol {
  width: 22rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}