/* VIEW WORK BUTTON */

.WorkView__viewWork {
  position: absolute;
  top: calc(80vh - 1.5rem);
  left: 50%;
  transform: translate3d(-50%,0,0);
  height:auto;
}
/* arrow */
.WorkView__viewWork .Block3d__content:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0.6rem;
  margin-left: -0.5rem;

  border-top: 0.4rem solid rgb(180,0,0);
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
}

.WorkView__viewWork .Block3d__content {
  padding: 0.75rem 1rem 1rem 1rem;
}
