.WorkView {
  transform-style: inherit; // firefox
}


// SiteIntro is position absolute
.WorkView__SiteIntroSpacer {
  @extend .wrapper;

  height: $siteIntroHeight;
  min-height: $siteIntroMinHeight;

  @media screen and (max-width: $breakpoint-mobile){
    min-height: auto;
    height: $siteIntroHeight--mobile;
  }
}
.WorkView__wrapper {
  @extend .wrapper;

  padding-top: 12rem;
  position: relative;
  height: calc(100% - #{$siteIntroHeight});

  @media screen and (max-width: $breakpoint-mobile){
    padding-top: 6rem;
  }
}