.WorkView {
}


.WorkView__pic {
  height: 100%;
  background-color: #eee;
}

.WorkView__text {
  width: 22rem;
  display: inline-block;

  margin-bottom: 10rem;
  text-align: right;
}


.WorkView__text__title {
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'title';
  color: red;
}

.WorkView__text__title h1 {
  margin-right: -10px;
}

.WorkView__text__desc {
  /*padding: 1rem;*/
  font-size: 16px;
}

.WorkView__text__desc p {
  line-height: 28px;
  text-align: justify;
}