@import '../scss/shared.scss';

// LEFT SIDE LAYOUT AREA

.ProjectView {
  margin-top: 2rem;
  width: 36rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.ProjectView__pic {
  margin-bottom: 4.5rem;
}

.ProjectView__pic--margin {
  margin-left: 4.5rem;
}
