@import '../scss/shared.scss';

.ProjectView {
  margin-top: $headerHeight;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  transform-style: inherit; // firefox

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}


.ProjectView__title {
  margin: 2rem 0 6rem 0;
  position: relative;
  text-align: center;
  max-width: 46rem;
  transform-style: inherit; // firefox
}
.ProjectView__picCol {
  vertical-align: top;
  display: inline-block;
  width: 33rem;
  margin-right: 3rem;
  transform-style: inherit; // firefox

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
    margin-right: 0;
  }
}
.ProjectView__textCol {
  vertical-align: top;
  display: inline-block;
  width: 18rem;
  transform-style: inherit; // firefox

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
    margin-right: 0;
  }
}




.ProjectView__textCol__subhead {
  font-size: 3rem;
  width: 100%;
}
.ProjectView__textCol__text {
  margin-bottom: 3rem;
  width: 100%;
}



.ProjectView__picCol__pic {
  margin-bottom: 4.5rem;
}
.ProjectView__picCol__pic--intro {
  //width: 33rem;
}


.ProjectView__fact {
  width: 19rem;

  h2 {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
    //margin-right: 0;
  }
}

.ProjectView__factPic .Block3d__content {

  // this creates a border at the top of the box that does not span the full width (to connect with fact tab)
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: calc(100% - 19rem + 2px); // fact + border width

    @media screen and (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}