@import '../scss/shared.scss';

.ProjectView {
  margin-top: $headerHeight;
  display: inline-block;
  text-align: left;
  vertical-align: top;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}


.ProjectView__title {
  //margin-top: 3rem;
  margin: 2rem 0 6rem 0;
  position: relative;
  text-align: center;
  //width: 26rem;
}

//cool text shadow

//.ProjectView__title__shadow {
//  position: absolute;
//  top: -6rem;
//  transform: translateZ(-14rem);
//  color: rgba(0,0,0,0.1);
//  z-index: -2;
//  font-size: 6.2rem;
//}



.ProjectView__textCol {
  display: inline-block;
  width: 18rem;
}

.ProjectView__textCol__half {
  width: 8rem;
  //margin-left: 6rem;
  display: inline-block;

  &:nth-child(even) {
    margin-left: 2rem;
  }
}


.ProjectView__textCol__subhead {
  font-size: 3rem;
  width: 100%;
}

.ProjectView__textCol__text {
  margin-bottom: 3rem;
}


.ProjectView__pic--intro {
  margin-bottom: 4.5rem;
  width: 34rem;
  margin-right: 2rem;
}