.WorkView {
}








.WorkView__title {
  margin-left: 6rem;
  margin-bottom: 4rem;
}

.WorkView__title__letter {
  font-family: 'bebas-neue--book';
  font-size: 4.5rem;
  line-height: 4.5rem;
  margin: 0.25rem;
}

.WorkView__title__letter .Block3d {
  animation-name: floatTitle;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);

  /*background-color: #fff;*/
}

.WorkView__title__letter .Block3d__content {
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;

  border: none !important;
  background-color: transparent !important;
}


/* letter shadow */
.WorkView__title__letter:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  transform: translate3d(0,0,-14rem);
  z-index: -999;
  pointer-events: none;
}







.WorkView__subtitle {
  font-size: 2rem;
  font-family: 'bebas-neue--book';
  text-align: center;
  margin-bottom: 4rem;
}




.WorkView__project {
  margin-bottom: 8rem;
}

.WorkView__project--leftCol {
  width: 22rem;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.WorkView__project--rightCol {
  width: 22rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}



.WorkView__project__note {
  width: 9.5rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 1.5rem;
  text-align: left;
}
.WorkView__project__note--marginRight {
  margin-right: 1.5rem;
}


.WorkView__project__note__title,
.WorkView__project__note__text {
  width: 100%;
}


.WorkView__project__note__title .Block3d__content {
  padding: 0.75rem;
  font-size: 18px;
  letter-spacing: 3px;
  font-family: 'bebas-neue--book';
  line-height: 28px;
  text-transform: uppercase;
  color: rgb(220,0,0);
}


.WorkView__project__note__text .Block3d__content {
  padding: 0.75rem;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}
.WorkView__project__note__text .Block3d__content ul {
  list-style: none;
}
.WorkView__project__note__text .Block3d__content ul li {
  margin-bottom: 0.6rem;
}
.WorkView__project__note__text .Block3d__content ul li:last-child {
  margin-bottom: 0;
}




@keyframes floatLaunch {
  0% { transform: translate3d(0,0,0rem); }
  50% { transform: translate3d(0,0,-1.5rem); }
  100% { transform: translate3d(0,0,0rem); }
}


.WorkView__project__launch {
  margin: 1.5rem 0 0 0;
  cursor: pointer;
}

/* arrow */
.WorkView__project__launch h2:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.44rem;
  margin-top: -0.22rem;
  width: 1rem;

  border-top: 0.22rem solid transparent;
  border-bottom: 0.22rem solid transparent;
  border-left: 0.28rem solid rgb(220,0,0);
  transition: all 80ms linear;
}




.WorkView__project__launch .Block3d {
  animation-name: floatLaunch;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.WorkView__project__launch .Block3d__face--bottom {
  border-size: 1px;
}

.WorkView__project__launch .Block3d__content {
  padding: 0.6rem 1rem 0.6rem 0.6rem;
  border-width: 3px;
  font-size: 0.55rem;
  color: rgb(220,0,0);
  letter-spacing: 2px;
  background-color: #fff;
  font-family: 'bebas-neue--regular';
  transition: all 80ms linear;
}
.WorkView__project__launch:hover .Block3d__content {
  color: #fff;
  background-color: rgb(220,0,0);
}
/* arrow hover */
.WorkView__project__launch:hover h2:after {
  border-left: 0.3rem solid #fff;
}


/* shadows */
.WorkView__project__launch:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  transform: translate3d(0,0,-14rem);
  z-index: -999;
  pointer-events: none;
}





.WorkView__about {
  font-size: 1rem;
}

.WorkView__about__title h1 {
  font-size: 3rem;
  padding: 1rem 1.5rem;
  color: rgb(220,0,0);
  font-family: 'bebas-neue--regular';
}

.WorkView__about__text .Block3d__content {
  padding: 1.5rem;
  line-height: 28px;
  text-align: justify;
  font-size: 16px;
}