$title--colorGradient--startColor: #1a4f5c;
$title--colorGradient--endColor: #349cb6;
$activeColor--low: #28788c;
$activeColor--mid: #349cb6;
$activeColor--high: #41c4e5;
$borderColor: #666;
$borderColorBright: rgba(255, 100, 200, 1);

$webBoxBottom--boxShadow: inset -2px 0 0 0 $borderColor, inset 2px 0 0 0 $borderColor;
$webBoxSide--boxShadow: inset 0 2px 0 0 $borderColor;

$theme--default: (
  // TITLE
  title--font: '../themes/default/goku.woff',
  title--font2: '../themes/default/goku.woff2',
  title--fontSize: 3.4rem,
  title--fontSize--mobile: 3rem,
  title--fontSpacing: 0,
  title--textTransform: none,
  title--color: rgb(60, 60, 60),

  text--color: rgb(80, 80, 80),

  button--background: rgb(60, 60, 60),
  button--color: rgb(255, 255, 255),
  button--arrowColor: rgb(255, 255, 255),
  button--boxShadow: inset 0 0 0 0.1rem #fff,

  button--hover--background: rgb(30, 30, 30),
  button--hover--color: $activeColor--high,
  button--hover--arrowColor: $activeColor--high,
  button--hover--boxShadow: inset 0 0 0 0.1rem $activeColor--high,
  button--hover--face--side: $activeColor--mid,
  button--hover--face--bottom: $activeColor--low,


  App__body--background: url(../themes/default/siteIntro__bg.png) top left / 900px rgb(170, 170, 170),
  App__body--mobile--background: url(../themes/default/siteIntro__bg.png) top left / 600px rgb(170, 170, 170),
  App__body__scrollable__wrapper__outerFrame--background: url(../themes/default/bg-8x8--back.png) top left / 4px rgb(250, 250, 250),
  App__body__scrollable__wrapper__floor--background: url(../themes/default/bg-10x10.png) top left / 5px rgb(210, 210, 210),


  //PROJECT PREVIEW
  ProjectPreview__leftCol__title--background: rgb(245, 245, 245),
  //ProjectPreview__leftCol__title--boxShadow: inset 0 0 0 1px $borderColor,
  //ProjectPreview__leftCol__title--boxShadow--mobile:

  ProjectPreview__leftCol__title__side--background: rgb(230, 230, 230),
  //ProjectPreview__leftCol__title__side--boxShadow:
  //ProjectPreview__leftCol__title__side--boxShadow--mobile: inset -1px 1px 0 0 red,

  ProjectPreview__leftCol__title__bottom--background: rgb(210, 210, 210),
  //ProjectPreview__leftCol__title__bottom--boxShadow:
  //ProjectPreview__leftCol__title__bottom--boxShadow--mobile: inset 0 0 0 2px red,

  ProjectPreview__leftCol__title__text--background: -webkit-linear-gradient($title--colorGradient--startColor, $title--colorGradient--endColor),

  ProjectPreview__leftCol__snippet--background: rgb(245, 245, 245),
  //ProjectPreview__leftCol__snippet--boxShadow: inset 0 0 0 2px $borderColor,

  ProjectPreview__rightCol--background: rgb(255, 255, 255),
  //ProjectPreview__rightCol--boxShadow: inset 0 0 0 2px $borderColor,


  //PLACEHOLDER VALUES, INDIVIDUAL STYLES OVERRULE THIS
  webBoxSide--background: rgb(230, 230, 230),
  //webBoxSide--boxShadow: $webBoxSide--boxShadow,
  webBoxBottom--background: rgb(210, 210, 210),
  //webBoxBottom--boxShadow: $webBoxBottom--boxShadow,
  //webBox--borderColor: $borderColor, // used for extra visual beef
  mobileBoxSide: rgb(100, 200, 200),
  mobileBoxBottom: rgb(80, 180, 180),


  //PROJECT VIEW
  ProjectView__title--bg: rgb(255, 255, 255),
  ProjectView__textCol__text--background: rgb(245, 245, 245)
);