@import '../../scss/shared.scss';


@font-face {
  font-family: 'title';
  src: url('../themes/default/bebasneue_regular-webfont.woff2') format('woff2'),
  url('../themes/default/bebasneue_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title--light';
  src: url('../themes/default/bebasneue_light-webfont.woff2') format('woff2'),
  url('../themes/default/bebasneue_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title--book';
  src: url('../themes/default/bebasneue_book-webfont.woff2') format('woff2'),
  url('../themes/default/bebasneue_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




// main bg
.App__body {
  color: #333;
  background-color: rgb(150,150,150);
  background-image: url(../themes/default/siteIntro__bg.png), url(../themes/default/bg-8x8.png);
  background-size: 900px, 4px;
  background-attachment: fixed;

  @media screen and (max-width: $breakpoint-mobile){
    background-size: 600px, 4px;
  }
}




.App__body__scrollable__wrapper__floor {
  background-image: url(../themes/default/bg-10x10.png);
  background-size: 5px;
  background-color: rgb(192,192,192);

  @media screen and (max-width: $breakpoint-mobile){
    background-image: none;
    background-color: rgba(192,192,192, 0.5);
  }
}


.App__body__scrollable__footer {
  background-image: url(../themes/default/siteIntro__bg.png), url(../themes/default/bg-8x8.png);
  background-size: 900px, 4px;
}


.ProjectDesc__content__x {
  .Block3d__content {
    background-image: url(../themes/default/x.png);
  }
}