.SiteIntro__title__subtitle h1 {
  color: #222;
  text-shadow: -0.05rem -0.05rem 0 #909090,
  0.05rem -0.05rem 0 #909090,
  -0.05rem 0.05rem 0 #909090,
  0.05rem 0.05rem 0 #909090;
}

.SiteIntro__title__subtitle {
  color: #222;
  text-shadow: -0.05rem -0.05rem 0 #909090,
  0.05rem -0.05rem 0 #909090,
  -0.05rem 0.05rem 0 #909090,
  0.05rem 0.05rem 0 #909090;

  @media screen and (max-width: $breakpoint-mobile) {
    text-shadow: -0.5vh -0.5vh 0 #909090,
    0.5vh -0.5vh 0 #909090,
    -0.5vh 0.5vh 0 #909090,
    0.5vh 0.5vh 0 #909090;
  }
}

.SiteIntro__viewWork .Block3d {
  @media screen and (max-width: $breakpoint-mobile) {
    @include mobileBox(0.25rem, rgb(200, 200, 200), rgb(160, 160, 160));
  }
}