@import '../../scss/shared.scss';

$highlightColor: red;


@font-face {
  font-family: 'title--game';
  src: url('../themes/game/pixeled-webfont.woff2') format('woff2'),
  url('../themes/game/pixeled-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title--head--game {
  font-family: 'title--game';
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  color: $highlightColor;
  text-transform: uppercase;
}

.title--subhead--game {
  font-family: 'title--game';
  font-size: 0.4rem;
  letter-spacing: 0.06rem;
  color: $highlightColor;
  text-transform: uppercase;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 1.8rem;
  }
}

.title--button--game {
  font-family: 'title--game';
  font-size: 0.4rem;
  letter-spacing: 0.05rem;
  color: $highlightColor;
  text-transform: uppercase;

  @media screen and (max-width: $breakpoint-mobile) {
    font-size: 1.2rem;
  }
}








.theme--game {


  .button__text {
    @extend .title--button--game;
    color: $highlightColor;
  }


  .ProjectPreview__leftCol__title {
    @extend .title--head--game;

    .Block3d {
      @media screen and (max-width: $breakpoint-mobile) {
        @include mobileBox(1.5rem, rgb(200, 200, 200), rgb(160, 160, 160));
      }
    }
  }


  @import 'theme--Block3d';
  @import 'theme--ProjectDesc';
  @import 'theme--ProjectPreview';
  @import 'theme--ProjectView';
  @import 'theme--SiteIntro';
}