.WorkView__project__title .Block3d__content {
  padding: 1.5rem;
  font-size: 28px;
  letter-spacing: 4px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: 'bebas-neue--book';
  color: #111;
}

.WorkView__project__title .Block3d__content h1 {
  margin-right: -10px;
}



.WorkView__project__desc .Block3d__content {
  color: #111;
  padding: 1.5rem;
}

.WorkView__project__desc .Block3d__content p {
  line-height: 28px;
  text-align: justify;
  font-size: 16px;
}




.WorkView__project__pic .Block3d__content {
  padding: 1.5rem;
}

.WorkView__project__pic .Block3d__content img {
  outline: 1px solid #ddd;
}






.WorkView__project__picStrip {
  margin-top: 1.5rem;
}

.WorkView__project__picStrip .WorkView__project__pic {
  margin-right: 1.5rem;
}

.WorkView__project__picStrip .WorkView__project__pic:last-child {
  margin-right: 0;
}








.WorkView__project__learnMore {
  /*margin-top: 0.75rem;*/
  /*z-index: 9999;*/
  cursor: pointer;
  /*background-color: rgba(0,255,0,0.1);*/
  /*transform: translateZ(0) translateX(-0.75rem) !important;*/
}

.WorkView__project__learnMore:hover {
  /*transform: translateZ(-2rem) translateX(-0.75rem) !important;*/
}

.WorkView__project__learnMore:hover .Block3d {
  transform: translateZ(-3rem) !important;
}



.WorkView__project__learnMore .Block3d__content {
  font-size: 14px;
  padding: 0.75rem;
  letter-spacing: 2px;
  font-family: 'bebas-neue--book';
  text-transform: uppercase;
  color: red;
}

