.ProjectView__title .Block3d__content {
  padding: 1.5rem;
  font-size: 28px;
  letter-spacing: 4px;
  font-family: 'bebas-neue--book';
  line-height: 50px;
  text-transform: uppercase;
  color: rgb(220,0,0);
}

.ProjectView__title .Block3d__content h1 {
  margin-right: -10px;
}


.ProjectView__text .Block3d__content {
  font-size: 14px;
}