.WorkView__project__title {
  background-image: url('content.png');
  padding: 1.5rem;
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'voyager-grotesque--light';
  color: red;
}

.WorkView__project__title h1 {
  margin-right: -10px;
}




.WorkView__project__desc {
  background-image: url('content2.png');
  color: #be0000;
  padding: 1.5rem;
}

.WorkView__project__desc p {
  line-height: 28px;
  text-align: justify;
  font-size: 16px;
}




.WorkView__project__pic {
  padding: 1.5rem;
  background-image: url('content.png');
}

.WorkView__project__pic img {
  border: 1px solid red;
}




.WorkView__project__learnMore {
  font-size: 14px;
  padding: 0.75rem;
  letter-spacing: 2px;
  font-family: 'voyager-grotesque';
  text-transform: uppercase;
  color: red;
  background-image: url('content2.png');
}