.App__body__scrollable__wrapper__leftFrame .Block3d__content,
.App__body__scrollable__wrapper__rightFrame .Block3d__content {
  background-image: url(bg-8x8--back.png);
  background-size: 4px;
}

.App__header {
  background-color: #ccc;
}

/* main bg */
.App__body__scrollable {
  color: #333;
  background-color: rgb(150,150,150);
  background-image: url(siteIntro__bg.png), url(bg-8x8.png);
  background-size: 50%, 4px;
}


/* wrapper floor bg */
.App__body__scrollable__wrapper__floor {
  background-image: url(bg-10x10.png);
  background-size: 5px;
  background-color: rgb(192,192,192);
}

.App__body__scrollable__footer {
  background-image: url(siteIntro__bg.png), url(bg-8x8.png);
  background-size: 50%, 4px;
}


.App__body__scrollable__footer__bio {
  background-image: url(bio.jpg);
  background-size: 100%;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.2rem solid #ddd;
  display: inline-block;
}


.SiteIntro__title__subtitle h1 {
  color: #222;
  text-shadow:
    -0.05rem -0.05rem 0 #909090,
    0.05rem -0.05rem 0 #909090,
    -0.05rem 0.05rem 0 #909090,
    0.05rem 0.05rem 0 #909090;
}


/* TODO: each theme use same font family name so we declare names outside of themes? */

/* FONT STYLES */

@font-face {
  font-family: 'title';
  src: url('bebasneue_regular-webfont.woff2') format('woff2'),
  url('bebasneue_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title--light';
  src: url('bebasneue_light-webfont.woff2') format('woff2'),
  url('bebasneue_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title--bold';
  src: url('bebasneue_bold-webfont.woff2') format('woff2'),
  url('bebasneue_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'title--book';
  src: url('bebasneue_book-webfont.woff2') format('woff2'),
  url('bebasneue_book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




/* BLOCK 3D STYLES */

.Block3d__face--top {
  background-color: rgb(220,220,220);
}
.Block3d__face--bottom {
  background-color: rgb(190,190,190);
  border-left: 1px solid rgb(150,150,150);
  border-right: 1px solid rgb(150,150,150);
  border-bottom: 4px solid #888; /* bottom border */
}
.Block3d__face--left,
.Block3d__face--right {
  background-color: rgb(200,200,200);
}
.Block3d__face--right {
  border-right: 2px solid #888; /* bottom border */
}
.Block3d__face--left {
  border-left: 2px solid #888; /* bottom border */
}


/* TODO: be smarter about calculating these values later...keep it loose for now */

.Block3d__content {
  /*outline: 1px solid rgb(235,235,235);*/
  background-color: rgb(255,255,255);
}
.Block3d__content--14 {
  /*outline: 1px solid rgb(165,165,165);*/
  background-color: rgb(192,192,192);
}
.Block3d__content--12 {
  /*outline: 1px solid rgb(175,175,175);*/
  background-color: rgb(201,201,201);
}
.Block3d__content--10 {
  /*outline: 1px solid rgb(185,185,185);*/
  background-color: rgb(210,210,210);
}
.Block3d__content--8 {
  /*outline: 1px solid rgb(195,195,195);*/
  background-color: rgb(219,219,219);
}
.Block3d__content--6 {
  /*outline: 1px solid rgb(205,205,205);*/
  background-color: rgb(228,228,228);
}
.Block3d__content--4 {
  /*outline: 1px solid rgb(215,215,215);*/
  background-color: rgb(237,237,237);
}
.Block3d__content--2 {
  /*outline: 1px solid rgb(225,225,225);*/
  background-color: rgb(246,246,246);
}