* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 32px;
  font-family: sans-serif;
  height: 100%; }

body {
  font-family: sans-serif;
  overflow: hidden;
  height: 100%; }

#root {
  height: 100%; }

header {
  width: 200%;
  margin-left: -50%;
  position: relative;
  height: 120px;
  background-color: #f8f8f8; }

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 34px;
  text-align: justify;
  color: #555; }

li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 14px;
  color: #666; }

li:last-child {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'title', sans-serif;
  color: #b40000; }

h1 {
  font-size: 2rem;
  letter-spacing: 0.08rem; }

h2 {
  font-size: 1.2rem;
  letter-spacing: 0.06rem; }

h3 {
  font-size: 0.8rem;
  letter-spacing: 0.05rem; }

h4 {
  font-size: 0.6rem;
  letter-spacing: 0.04rem; }

.App {
  height: 100%; }

.App__header {
  position: fixed;
  height: 2rem;
  width: 100%;
  z-index: 9999;
  font-size: 2rem;
  display: none; }

.App__body {
  font-size: 0; }

.App__body__scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  perspective-origin: 50% 80%;
  perspective: 54rem;
  overflow-y: scroll;
  overflow-x: hidden; }

.App__body__scrollable__wrapper {
  position: relative;
  /*padding-top: 3rem;*/
  width: 54rem;
  margin: 0 auto;
  transform-style: preserve-3d; }

.App__body__scrollable__wrapper--WorkView {
  width: 46rem; }

.App__body__scrollable__wrapper__floor {
  position: absolute !important;
  top: -10rem;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, -14rem); }

/* ancillary visual fluff goes in these */
.App__body__scrollable__wrapper__leftFrame,
.App__body__scrollable__wrapper__rightFrame {
  top: -10rem;
  width: 20rem;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform-style: preserve-3d; }

.App__body__scrollable__wrapper__leftFrame {
  left: -20rem;
  text-align: right; }

.App__body__scrollable__wrapper__rightFrame {
  right: -20rem;
  text-align: left; }

.App__body__scrollable__wrapper__leftFrame--WorkView,
.App__body__scrollable__wrapper__rightFrame--WorkView,
.App__body__scrollable__wrapper__floor--WorkView {
  top: 80vh; }

.Block3d, .Block3d--wrapper {
  position: relative;
  transform-style: preserve-3d;
  display: inline-block;
  vertical-align: top;
  backface-visibility: hidden;
  height: 100%; }

.Block3d {
  pointer-events: none;
  transition: transform 200ms cubic-bezier(0.86, 0, 0.07, 1); }

.Block3d__content {
  transform: translateZ(0);
  /* to prevent flicker */
  height: 100%;
  /* always fill the height of the block, which is set in the jsx */
  padding: 1.5rem; }

.Block3d__content img {
  outline: 1px solid #666; }

.Block3d__face {
  position: absolute;
  backface-visibility: hidden;
  pointer-events: none;
  top: 0;
  left: 0; }

.Block3d__face--top,
.Block3d__face--bottom {
  width: 100%;
  z-index: -1;
  transform-origin: top center; }

.Block3d__face--left,
.Block3d__face--right {
  height: 100%;
  z-index: -2; }

.Block3d__face--top {
  transform: rotateX(90deg) rotateZ(180deg) translateZ(0); }

.Block3d__face--bottom {
  top: 100%;
  transform: rotateX(-90deg); }

.Block3d__face--left {
  transform-origin: left;
  transform: rotateY(-90deg) translateX(-100%) translateZ(0); }

.Block3d__face--right {
  left: auto;
  right: 0;
  transform-origin: right;
  transform: rotateY(90deg) translateX(100%) translateZ(0); }

/*
.Block3d__shading {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transform: translateZ(0);
  z-index: 9999;
  display: none;
}
*/
.floatingButton, .ProjectPreview__leftCol__route .Block3d, .SiteIntro__viewWork .Block3d {
  animation-name: floatingButtonAnimation;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes floatingButtonAnimation {
  0% {
    transform: translate3d(0, 0, 0rem); }
  50% {
    transform: translate3d(0, 0, -1.5rem); }
  100% {
    transform: translate3d(0, 0, 0rem); } }

.ProjectPreview {
  margin-bottom: 8rem; }

.ProjectPreview__leftCol {
  width: 22rem;
  display: inline-block;
  text-align: right;
  vertical-align: top; }

.ProjectPreview__rightCol {
  width: 24rem;
  display: inline-block;
  text-align: left;
  vertical-align: top; }

.ProjectPreview__leftCol__snippet {
  display: block;
  text-align: left; }

/* BEGIN ROUTE BUTTON STYLES */
.ProjectPreview__leftCol__route {
  margin: 0 1.35rem 0 0;
  cursor: pointer; }

/* arrow */
.ProjectPreview__leftCol__route h2:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.44rem;
  margin-top: -0.22rem;
  width: 1rem;
  border-top: 0.22rem solid transparent;
  border-bottom: 0.22rem solid transparent;
  border-left: 0.28rem solid #b40000; }

/* arrow hover */
.ProjectPreview__leftCol__route:hover h2:after {
  border-left: 0.3rem solid #fff;
  transition: border-color 100ms linear; }

/* background */
.ProjectPreview__leftCol__route .Block3d__content {
  padding: 0.6rem 1rem 0.6rem 0.6rem;
  border-width: 3px;
  border-color: #fff;
  transition: background-color 100ms linear, opacity 450ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }

/* background hover */
.ProjectPreview__leftCol__route:hover .Block3d__content {
  background-color: #b40000; }

/* text hover */
.ProjectPreview__leftCol__route:hover h2 {
  color: #fff;
  transition: color 100ms linear; }

/* shadow */
.ProjectPreview__leftCol__route:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.1;
  transform: translate3d(0, 0, -14rem);
  z-index: -999;
  pointer-events: none; }

/* END ROUTE BUTTON STYLES */
/* LEFT SIDE LAYOUT AREA */
.ProjectView {
  margin-top: 2rem;
  width: 36rem;
  display: inline-block;
  text-align: left;
  vertical-align: top; }

.ProjectView__pic {
  margin-bottom: 6rem; }

/* RIGHT SIDE DESCRIPTION PANEL */
.ProjectDesc {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  perspective-origin: 50% 80%;
  /* x-center y-top */
  perspective: 50rem;
  /* should match width of App__wrapper for best cube appearance */ }

.ProjectDesc__content {
  top: 2rem;
  left: calc(50% + 20.4rem);
  width: 17rem;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 0); }

.ProjectDesc__content__title .Block3d__content {
  padding: 0.75rem 1.3rem; }

.ProjectDesc__content__text {
  display: block; }

.ProjectDesc__content__text .Block3d__content {
  padding: 0.75rem 1.4rem; }

.ProjectDesc__content__note--technology {
  margin-top: 0.75rem;
  display: inline-block;
  vertical-align: top;
  width: 6.75rem; }

.ProjectDesc__content__note--responsibilities {
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  display: inline-block;
  vertical-align: top;
  width: 9.5rem; }

.ProjectDesc__content__note__title {
  display: block; }

.ProjectDesc__content__note__text {
  display: block; }

.ProjectDesc__content__note__title .Block3d__content {
  padding: 0.75rem 1.1rem; }

.ProjectDesc__content__note__text .Block3d__content {
  padding: 0.75rem 1.1rem 0.75rem 1.4rem; }

.floatingButton, .ProjectPreview__leftCol__route .Block3d, .SiteIntro__viewWork .Block3d {
  animation-name: floatingButtonAnimation;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes floatingButtonAnimation {
  0% {
    transform: translate3d(0, 0, 0rem); }
  50% {
    transform: translate3d(0, 0, -1.5rem); }
  100% {
    transform: translate3d(0, 0, 0rem); } }

.SiteIntro {
  width: 100%;
  height: 80vh;
  position: relative;
  transform-style: preserve-3d;
  margin-bottom: 10rem; }

.SiteIntro__title {
  position: absolute;
  text-align: left;
  top: 50%;
  transform-style: preserve-3d;
  transform: translate3d(0, -70%, 0); }

.SiteIntro__title__letter {
  font-family: 'title';
  font-size: 3rem;
  line-height: 2.5rem;
  margin: 0 0.75rem 0.75rem 0;
  height: auto; }
  .SiteIntro__title__letter:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    transform: translate3d(0, 0, -6rem);
    z-index: -999;
    pointer-events: none; }

.SiteIntro__title__letter .Block3d__content {
  padding: 1rem 0 0.5rem 0.5rem;
  width: 2.75rem; }

.SiteIntro__title__subtitle {
  font-size: 2rem;
  font-family: 'title';
  text-align: left;
  margin-top: 1rem;
  margin-left: 0.55rem; }

.SiteIntro__viewWork {
  position: absolute;
  top: calc(80vh - 1.5rem);
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  height: auto; }
  .SiteIntro__viewWork:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    transform: translate3d(0, 0, -14rem);
    z-index: -999;
    pointer-events: none;
    margin-top: 1.5rem;
    height: calc(100% - 0.75rem); }
  .SiteIntro__viewWork .Block3d__content {
    padding: 0.75rem 1rem 1rem 1rem; }
  .SiteIntro__viewWork .Block3d__content:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0.6rem;
    margin-left: -0.5rem;
    border-top: 0.4rem solid #b40000;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent; }

.floatingButton, .ProjectPreview__leftCol__route .Block3d, .SiteIntro__viewWork .Block3d {
  animation-name: floatingButtonAnimation;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes floatingButtonAnimation {
  0% {
    transform: translate3d(0, 0, 0rem); }
  50% {
    transform: translate3d(0, 0, -1.5rem); }
  100% {
    transform: translate3d(0, 0, 0rem); } }

@media screen and (max-width: 1800px) {
  html {
    font-size: 30px; }
  .App__body__scrollable {
    /*perspective: 60rem;*/ } }

@media screen and (max-width: 1700px) {
  html {
    font-size: 28px; }
  p {
    font-size: 15px;
    line-height: 28px; }
  li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 14px; } }

@media screen and (max-width: 1600px) {
  html {
    font-size: 26px; } }

@media screen and (max-width: 1500px) {
  html {
    font-size: 24px; }
  p {
    font-size: 14px;
    line-height: 26px; }
  li {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 14px; } }

@media screen and (max-width: 1400px) {
  html {
    font-size: 22px; } }

@media screen and (max-width: 1260px) {
  html {
    font-size: 20px; } }

@media screen and (max-width: 1100px) {
  html {
    font-size: 18px; } }

/**
 *  MOBILE BREAKPOINTS
 *
 *  Mobile doesn't work well with the 3d effect, so lets bring everything into the doc flow and make .App scrollable
 */
@media screen and (max-width: 1020px) {
  .App {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; }
  .App__body__scrollable {
    position: relative;
    height: auto;
    /* -webkit-perspective-origin: 50% 80%; */
    /* perspective-origin: 50% 80%; */
    /* -webkit-perspective: 50rem; */
    /* perspective: 50rem; */
    perspective: none;
    overflow-y: auto;
    overflow-x: hidden; }
  .App__body__scrollable__wrapper {
    width: 100%; }
  .App__body__scrollable__wrapper__leftFrame,
  .App__body__scrollable__wrapper__rightFrame {
    display: none; }
  .ProjectDesc {
    perspective: none;
    position: relative;
    transform: none; }
  .ProjectDesc__content {
    width: 100%;
    position: static;
    transform: none; }
  .ProjectView {
    width: 100%;
    margin: 0 10px; } }

/*
@media screen and (max-width: 1020px){
  .WorkView__project--leftCol {
    width: 100%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
  }

  .WorkView__project--rightCol {
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
}
*/
/* easeInCubic */
/* easeOutCubic */
/* easeInCubic */
/* easeOutCubic */
/* MAIN AREA ANIMATIONS */
.App__body__scrollable__wrapper {
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .App__body__scrollable__wrapper .Block3d__face,
  .App__body__scrollable__wrapper .Block3d__content,
  .App__body__scrollable__wrapper .App__body__scrollable__wrapper__floor {
    transition: opacity 450ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.App__body__scrollable__wrapper--intro {
  transform: translate3d(0, 0, -34rem); }
  .App__body__scrollable__wrapper--intro .Block3d__face,
  .App__body__scrollable__wrapper--intro .Block3d__content,
  .App__body__scrollable__wrapper--intro .App__body__scrollable__wrapper__floor,
  .App__body__scrollable__wrapper--intro .ProjectPreview__leftCol__route:before {
    opacity: 0; }

.App__body__scrollable__wrapper--outro {
  transition: transform 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: translate3d(0, 0, 14rem); }
  .App__body__scrollable__wrapper--outro .Block3d__face,
  .App__body__scrollable__wrapper--outro .Block3d__content,
  .App__body__scrollable__wrapper--outro .App__body__scrollable__wrapper__floor,
  .App__body__scrollable__wrapper--outro .ProjectPreview__leftCol__route:before {
    transition: opacity 450ms 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0; }

/* PROJECT DESCRIPTION ANIMATIONS */
.ProjectDesc__content .Block3d__face,
.ProjectDesc__content .Block3d__content {
  transform: opacity 450ms 100ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.ProjectDesc__content .ProjectDesc__content__title,
.ProjectDesc__content .ProjectDesc__content__text {
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.ProjectDesc__content .ProjectDesc__content__note--responsibilities .ProjectDesc__content__note__title,
.ProjectDesc__content .ProjectDesc__content__note--responsibilities .ProjectDesc__content__note__text {
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.ProjectDesc__content .ProjectDesc__content__note--technology .ProjectDesc__content__note__title,
.ProjectDesc__content .ProjectDesc__content__note--technology .ProjectDesc__content__note__text {
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1); }

.ProjectDesc__content--intro .Block3d__face,
.ProjectDesc__content--intro .Block3d__content {
  opacity: 0; }

.ProjectDesc__content--intro .ProjectDesc__content__title,
.ProjectDesc__content--intro .ProjectDesc__content__text {
  transform: translate3d(0, 0, -8rem); }

.ProjectDesc__content--intro .ProjectDesc__content__note--responsibilities .ProjectDesc__content__note__title,
.ProjectDesc__content--intro .ProjectDesc__content__note--responsibilities .ProjectDesc__content__note__text {
  transform: translate3d(0, 0, -12rem); }

.ProjectDesc__content--intro .ProjectDesc__content__note--technology .ProjectDesc__content__note__title,
.ProjectDesc__content--intro .ProjectDesc__content__note--technology .ProjectDesc__content__note__text {
  transform: translate3d(0, 0, -16rem); }

.ProjectDesc__content--outro .Block3d__face,
.ProjectDesc__content--outro .Block3d__content {
  transition: opacity 450ms 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  opacity: 0; }

.ProjectDesc__content--outro .ProjectDesc__content__title,
.ProjectDesc__content--outro .ProjectDesc__content__text {
  transition: transform 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: translate3d(0, 0, 8rem); }

.ProjectDesc__content--outro .ProjectDesc__content__note--responsibilities .ProjectDesc__content__note__title,
.ProjectDesc__content--outro .ProjectDesc__content__note--responsibilities .ProjectDesc__content__note__text {
  transition: transform 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: translate3d(0, 0, 12rem); }

.ProjectDesc__content--outro .ProjectDesc__content__note--technology .ProjectDesc__content__note__title,
.ProjectDesc__content--outro .ProjectDesc__content__note--technology .ProjectDesc__content__note__text {
  transition: transform 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: translate3d(0, 0, 16rem); }
