@import '../scss/shared.scss';


$deviceBackground: rgba(255,255,255,1);
$deviceBorder: 0.125rem solid rgba(160,160,160,1);
$deviceBoxShadow: inset 0 0 0 1px rgba(160,160,160,1);



.SiteIntro {
  width: 100%;
  height: $siteIntroHeight;
  min-height: $siteIntroMinHeight;
  position: absolute;

  @media screen and (max-width: $breakpoint-mobile){
    min-height: auto;
    height: $siteIntroHeight--mobile;
  }
}


.SiteIntro__word {
  margin-top: 6rem;
  font-size: 3.6rem;

  h1 {
    padding: 0.5rem;
  }

  @media screen and (max-width: $breakpoint-mobile){
    margin: 6rem 0.75rem 0;
    text-align: left;

    .Block3d--shadow {
      top: 2.25rem;
      left: 2.25rem;
    }
  }
}


.SiteIntro__viewWork {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate3d(-50%,0,0);
  height: auto;
  z-index: 9999;

  @media screen and (max-width: $breakpoint-mobile){
    bottom: 3rem;
  }

  .Block3d {
    @extend .floatingButton;
  }

  .Block3d--shadow {
    //margin-top: 1.5rem;
    //height: calc(100% - 0.75rem);
  }

  .Block3d__content {
    padding: 0.75rem 1rem 1rem 1rem;
  }
}