.App {
  transform-style: preserve-3d;

  perspective-origin: 50% 65%; /* x-center y-top */
  /*perspective-origin: 50% 0;*/

  height: 100%;
  perspective: 40rem; /* matches width of App__wrapper */

  overflow-y: scroll;
  font-size: 0; /* so whitespace doesnt mess with inline elements */
}


.App__wrapper {
  position: relative;
  width: 40rem;
  margin: 0 auto;

  transform-style: preserve-3d;
}


.App__wrapper__leftFrame {
  position: absolute;
  top: 0;
  height: 100%;
  left: -8rem;
  width: 8rem;

  text-align: right;
  /*z-index: -1;*/
  /* why does this overlay right side if set? */

  z-index: -1;
  transform-style: preserve-3d;
}


.App__wrapper__rightFrame {
  position: absolute;
  top: 0;
  height: 100%;
  right: -8rem;
  width: 8rem;

  text-align: left;


  z-index: -1;
  transform-style: preserve-3d;
}