.App {
  height: 100%;
}

.App__header {
  position: fixed;
  height: 2rem;
  width: 100%;
  z-index: 9999;
  font-size: 2rem;
}

/* containing element to allow scrollable and non-scrollable content on a view */
.App__body {
  font-size: 0; /* so whitespace doesnt mess with inline elements */
}


/* magical element that gives 3d scrolling */
.App__body__scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  perspective-origin: 50% 80%; /* x-center y-top */
  perspective: 50rem;          /* should match width of App__wrapper for best cube appearance */
  overflow-y: scroll;
  overflow-x: hidden;
}


/* maintains fixed width for layout */
.App__body__scrollable__wrapper {
  position: relative;
  padding-top: 3rem;
  width: 54rem;
  margin: 0 auto;
  transform-style: preserve-3d;
}

.App__body__scrollable__wrapper--WorkView {
  width: 46rem;
}


/* ancillary visual fluff goes in these */
.App__body__scrollable__wrapper__leftFrame,
.App__body__scrollable__wrapper__rightFrame {
  top: -10rem;
  width: 20rem;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform-style: preserve-3d;
}
.App__body__scrollable__wrapper__leftFrame {
  left: -20rem;
  text-align: right;
}
.App__body__scrollable__wrapper__rightFrame {
  right: -20rem;
  text-align: left;
}