@import 'scss/shared.scss';


.App {
  height: 100%;
}

.App__header {
  position: fixed;
  height: 2rem;
  width: 100%;
  z-index: 9999;
  font-size: 2rem;
  display: none;
}

// containing element to allow scrollable and non-scrollable content on a view
.App__body {
  font-size: 0; // so whitespace doesnt mess with inline elements
  height: 100vh;

  // the new scrollable element
  @media screen and (max-width: $breakpoint-mobile){
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}


// magical element that gives 3d scrolling
.App__body__scrollable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  perspective-origin: 50% 80%; // x-center y-top
  perspective: 54rem;          // should match width of App__wrapper for best cube appearance
  overflow-y: scroll;
  overflow-x: hidden;

  // no longer scrollable - we want .ProjectDesc to scroll with this, so we will now scroll its parent
  @media screen and (max-width: $breakpoint-mobile) {
    position: relative;
    perspective: none;
    overflow-y: hidden;
    height: auto;
  }
}


// maintains fixed width for layout
.App__body__scrollable__wrapper {
  position: relative;
  /*padding-top: 3rem;*/
  width: 54rem;
  margin: 0 auto;
  transform-style: preserve-3d;
  padding-bottom: 14rem;

  // this is now 100% because we don't care about App__body__scrollable__wrapper__leftFrame/rightFrame visuals
  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%
  }
}

.App__body__scrollable__footer {
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #666;
  position: absolute;

  min-height: 12rem;
  margin-top: -12rem;
}



.App__body__scrollable__footer__content {
  margin: 2rem auto;
  width: 36.5rem;
}

.App__body__scrollable__footer__content h2 {
  font-size: 2rem;
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
  text-shadow: -0.05rem -0.05rem 0 #f8f8f8, 0.05rem -0.05rem 0 #f8f8f8, -0.05rem 0.05rem 0 #f8f8f8, 0.05rem 0.05rem 0 #f8f8f8;
}

.App__body__scrollable__footer__contentWrap {
  background-color: #f8f8f8;
  border: 1px solid #d6d6d6;
}

.App__body__scrollable__footer__content__col {
  display: inline-block;
  width: 18.125rem;

  padding: 0.75rem;
  vertical-align: top;
}


.App__body__scrollable__wrapper--WorkView {
  width: 46rem;
}


.App__body__scrollable__wrapper__floor {
  position: absolute !important;
  z-index: -2;
  top: -10rem;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: calc(100% + 10rem);
  transform: translate3d(0,0,-14rem);
}





/* ancillary visual fluff goes in these */
.App__body__scrollable__wrapper__leftFrame,
.App__body__scrollable__wrapper__rightFrame {
  top: -10rem;
  width: 20rem;
  height: calc(100% + 10rem);
  position: absolute;
  z-index: -1;
  transform-style: preserve-3d;

  .Block3d--wrapper,
  .Block3d__content {
    height: 100%;
  }
}
.App__body__scrollable__wrapper__leftFrame {
  left: -20rem;
  text-align: right;
}
.App__body__scrollable__wrapper__rightFrame {
  right: -20rem;
  text-align: left;
}

.App__body__scrollable__wrapper__leftFrame--WorkView,
.App__body__scrollable__wrapper__rightFrame--WorkView,
.App__body__scrollable__wrapper__floor--WorkView {
  top: $siteIntroHeight;
  height: calc(100% - #{$siteIntroHeight});

  @media screen and (max-width: $breakpoint-mobile){
    top: $siteIntroHeight--mobile;
  }
}
