@import 'scss/shared.scss';


.App {
  height: 100%;
}

.App__header {
  position: fixed;
  height: $headerHeight;
  top: 0;
  width: 100%;
  z-index: 99999;
  font-size: 2rem;

  &:after {
    position: absolute;
    bottom: calc(1px - 0.25rem);
    left: 0;
    content: '';
    width: 50%;
    border-top: 0.25rem solid #ccc;
    border-left: 0.25rem solid transparent;
  }

  &:before {
    position: absolute;
    bottom: calc(1px - 0.25rem);
    right: 0;
    content: '';
    width: 50%;
    border-top: 0.25rem solid #ccc;
    border-right: 0.25rem solid transparent;
  }
}

.App__header__title {
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1rem;
}

.App__header__theme {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #999;
}


// containing element to allow scrollable and non-scrollable content on a view
.App__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  font-size: 0; // so whitespace doesnt mess with inline elements
  height: calc(100vh - #{$headerHeight});
  margin-top: $headerHeight;
}


// magical element that gives 3d scrolling
.App__body__scrollable {
  position: relative;
  height: 100vh;

  perspective-origin: 50% 80%; // x-center y-top
  perspective: 54rem;          // should match width of App__wrapper for best cube appearance
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  @media screen and (max-width: $breakpoint-mobile) {
    // no 3d perspective wanted on mobile...slows things down too uch
    perspective: none;
  }
}


// maintains fixed width for layout
.App__body__scrollable__wrapper {
  position: relative;
  width: 54rem;
  margin: 0 auto;
  transform-style: preserve-3d;
  padding-bottom: 14rem;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}


.App__body__scrollable__wrapper--WorkView {
  width: 46rem;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}


.App__body__scrollable__footer {
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #666;
  position: relative;

  padding: 3rem;

  min-height: 12rem;
  margin-top: -12rem;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0.75rem;
  }
}





.App__body__scrollable__footer__content {
  margin: 0 auto;
  max-width: 40rem;
}

.App__body__scrollable__footer__content__title {
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
  text-shadow: -0.05rem -0.05rem 0 #f8f8f8, 0.05rem -0.05rem 0 #f8f8f8, -0.05rem 0.05rem 0 #f8f8f8, 0.05rem 0.05rem 0 #f8f8f8;

  @media screen and (max-width: $breakpoint-mobile) {
    padding-left: 1rem;
    margin-left: 0.5rem;
  }
}

.App__body__scrollable__footer__contentWrap {
  background-color: #f8f8f8;
  border: 1px solid #d6d6d6;
}

.App__body__scrollable__footer__content__col {
  display: inline-block;
  width: 50%;
  padding: 0.75rem;
  vertical-align: top;


  @media screen and (max-width: $breakpoint-mobile) {
    padding: 1.5rem;
    width: 100%;
  }
}





.App__body__scrollable__wrapper__floor {
  position: absolute !important;
  z-index: -2;
  top: -10rem;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: calc(100% + 10rem);
  transform: translate3d(0,0,-14rem);
  transform-style: preserve-3d;
}





/* ancillary visual fluff goes in these */
.App__body__scrollable__wrapper__leftFrame,
.App__body__scrollable__wrapper__rightFrame {
  top: -10rem;
  width: 20rem;
  height: calc(100% + 10rem);
  position: absolute;
  z-index: -1;
  transform-style: preserve-3d;

  .Block3d--wrapper,
  .Block3d__content {
    height: 100%;
  }
}
.App__body__scrollable__wrapper__leftFrame {
  left: -20rem;
  text-align: right;
}
.App__body__scrollable__wrapper__rightFrame {
  right: -20rem;
  text-align: left;
}

.App__body__scrollable__wrapper__leftFrame--WorkView,
.App__body__scrollable__wrapper__rightFrame--WorkView,
.App__body__scrollable__wrapper__floor--WorkView {
  top: $siteIntroHeight;
  height: calc(100% - #{$siteIntroHeight});

  @media screen and (max-width: $breakpoint-mobile){
    top: $siteIntroHeight--mobile;
  }
}
