@import 'scss/shared.scss';


.App {
  height: 100%;
}

.App__header {
  position: fixed;
  height: $headerHeight;
  top: 0;
  width: 100%;
  z-index: 99999;

  // bottom colored borders
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
  }
  
  &:after {
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    content: '';
    width: 100%;
    height: 0.125rem;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    height: $headerHeight--mobile;
  }
}

.App__header__title {
  display: inline-block;
  margin-left: $headerHeight; //for x button
  padding: 0 1.25rem 0 1.75rem;
  vertical-align: top;
  white-space: nowrap;
  line-height: $headerHeight;
  cursor: pointer;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0;
    line-height: $headerHeight--mobile;
    margin-left: $headerHeight--mobile;
  }
}

.App__header__themes {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: $headerHeight;

  @media screen and (max-width: $breakpoint-mobile) {
    height: $headerHeight--mobile;
  }
}

.App__header__theme {
  display: inline-block;
  margin-top: 4px;
  margin-right: 4px;
  box-shadow: inset 0 0 0 1px rgba(150,150,150,0.4);

  cursor: pointer;
  vertical-align: top;
  width: calc(#{$headerHeight} - 8px);
  height: calc(#{$headerHeight} - 8px);

  @media screen and (max-width: $breakpoint-mobile) {
    width: calc(#{$headerHeight--mobile} - 8px);
    height: calc(#{$headerHeight--mobile} - 8px);
  }
}

.App__header__theme--active {
  background-color: rgba(150,150,150,0.4);
  //box-shadow: none;
}

.App__header__menu {
  display: inline-block;
  height: $headerHeight;
  vertical-align: top;

  @media screen and (max-width: $breakpoint-mobile) {
    height: $headerHeight--mobile;
    display: none;
  }
}

.App__header__menu__option {
  vertical-align: top;
  display: inline-block;
  padding: 0 1.25rem;
  cursor: pointer;
  border-left-width: 1px;
  border-left-style: solid;
}

.App__header__menu__option--sub {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: 0;
  }
}




.App__header__x {
  position: absolute;
  top: 0;
  left: 0;
  width: $headerHeight;
  height: $headerHeight;
  cursor: pointer;

  @media screen and (max-width: $breakpoint-mobile) {
    width: $headerHeight--mobile;
    height: $headerHeight--mobile;
  }
}




// containing element to allow scrollable and non-scrollable content on a view
.App__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  font-size: 0; // so whitespace doesnt mess with inline elements
  height: calc(100vh - #{$headerHeight});
  margin-top: $headerHeight;
  overflow: hidden;

  @media screen and (max-width: $breakpoint-mobile) {
    margin-top: $headerHeight--mobile;
  }
}


// magical element that gives 3d scrolling
.App__body__scrollable {
  position: relative;
  height: 100vh;

  // these origin points ensure that the top of the box is never shown, so we dont have to draw it
  perspective-origin: 50% calc(100% - #{$headerHeight}); // x-center y-top

  perspective: $bodyWidth; // should match width of body for best cube appearance
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  @media screen and (max-width: $breakpoint-mobile) {
    // no 3d perspective wanted on mobile...slows things down too much
    perspective: none;
  }
}


// maintains fixed width for layout
.App__body__scrollable__wrapper {
  position: relative;
  width: $bodyWidth;
  margin: 0 auto;
  transform-style: preserve-3d;
  padding-bottom: 14rem;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}


.App__body__scrollable__wrapper--WorkView {
  width: $bodyWidth;

  @media screen and (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}




.App__body__scrollable__wrapper__floor {
  position: absolute !important;
  z-index: -10;
  top: -10rem;
  left: -20rem;
  display: block;
  width: calc(100% + 40rem);
  height: calc(100% + 10rem);
  transform: translate3d(0,0,-16.01rem);
  transform-style: preserve-3d;

  @media screen and (max-width: $breakpoint-mobile) {
    //height: 100%;
    //top: -12rem;
  }
}




/* ancillary visual fluff goes in these */
.App__body__scrollable__wrapper__outerFrame {
  top: -10rem;
  width: 20rem;
  height: calc(100% + 10rem);
  position: absolute;
  z-index: -1;
  transform-style: preserve-3d;

  .Block3d--wrapper,
  .Block3d__content {
    height: 100%;
  }
}
.App__body__scrollable__wrapper__leftFrame {
  left: -20rem;
  text-align: right;
}
.App__body__scrollable__wrapper__rightFrame {
  right: -20rem;
  text-align: left;
}



.App__body__scrollable__wrapper__leftFrame--WorkView,
.App__body__scrollable__wrapper__rightFrame--WorkView {
  top: 4rem;
}
.App__body__scrollable__wrapper__floor--WorkView {
  top: 0;
}
