

@media screen and (max-width: 1800px){
  html {
    font-size: 30px;
  }
  .App__body__scrollable {
    /*perspective: 60rem;*/
  }
}

@media screen and (max-width: 1700px){
  html {
    font-size: 28px;
  }

  p {
    font-size: 15px;
    line-height: 28px;
  }
  li {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 1600px){
  html {
    font-size: 26px;
  }

}

@media screen and (max-width: 1500px){
  html {
    font-size: 24px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  li {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 1400px){
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 1260px){
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px){
  html {
    font-size: 18px;
  }
}



/**
 *  MOBILE BREAKPOINTS
 *
 *  Mobile doesn't work well with the 3d effect, so lets bring everything into the doc flow and make .App scrollable
 */

@media screen and (max-width: 1020px){

  .App {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .App__body__scrollable {
    position: relative;
    height: auto;
    /* -webkit-perspective-origin: 50% 80%; */
    /* perspective-origin: 50% 80%; */
    /* -webkit-perspective: 50rem; */
    /* perspective: 50rem; */
    perspective: none;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .App__body__scrollable__wrapper {
    width: 100%;
  }

  .App__body__scrollable__wrapper__leftFrame,
  .App__body__scrollable__wrapper__rightFrame {
    display: none;
  }

  .ProjectDesc {
    perspective: none;
    position: relative;
    transform: none;
  }
  .ProjectDesc__content {
    width: 100%;
    position: static;
    transform: none;
  }

  .ProjectView {
    width: 100%;
    margin: 0 10px;
  }


}



/*
@media screen and (max-width: 1020px){
  .WorkView__project--leftCol {
    width: 100%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
  }

  .WorkView__project--rightCol {
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
}
*/