* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: sans-serif;
  height: 100%;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

header {
  width: 200%;
  margin-left: -50%;
  position: relative;
  height: 120px;
  background-color: #f8f8f8;
}



p {
  /*font-size: 0.4rem;*/
  /*line-height: 1rem;*/
  font-size: 14px;
  line-height: 32px;
  text-align: justify;
}


h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 0.8rem;
}




@media screen and (max-width: 1740px){
  html {
    font-size: 28px;
  }
  /*.App__body {*/
    /*perspective: 54rem;*/
  /*}*/
}

@media screen and (max-width: 1640px){
  html {
    font-size: 24px;
  }
  /*.App__body {*/
    /*perspective: 54rem;*/
  /*}*/
}

@media screen and (max-width: 1430px){
  html {
    font-size: 22px;
  }
  /*.App__body {*/
    /*perspective: 64rem;*/
  /*}*/
}


@media screen and (max-width: 1330px){
  html {
    font-size: 21px;
  }
  /*.App__body {*/
    /*perspective: 74rem;*/
  /*}*/
}

@media screen and (max-width: 1230px){
  html {
    font-size: 12px;
  }
  /*.App__body {*/
    /*perspective: 84rem;*/
  /*}*/
}


@media screen and (max-width: 1020px){
  .WorkView__project--leftCol {
    width: 100%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
  }

  .WorkView__project--rightCol {
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
}