@import 'scss/shared.scss';

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  //overflow: hidden;
  //height: 100%;

  @media screen and (max-width: $breakpoint-mobile){
    //overflow: visible;
  }
}

#root {
  height: 100%;
}
