* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 32px;
  font-family: sans-serif;
  height: 100%;
}

body {
  background-color: #111;
  background-size: 100%;
  background-attachment: fixed;
  background-position: bottom center;

  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

header {
  width: 200%;
  margin-left: -50%;
  position: relative;
  height: 120px;
  background-color: #f8f8f8;
}



@media screen and (max-width: 1640px){
  html {
    font-size: 28px;
  }
}

@media screen and (max-width: 540px){
  html {
    font-size: 16px;
  }
}