/* predefined animation styles */

.App__body__scrollable__wrapper {
  transition: transform 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.Block3d__face,
.Block3d__content {
  transition: opacity 400ms 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}




/* animations */

.App__body__scrollable__wrapper--outro {
  transition: transform 500ms cubic-bezier(0.550, 0.055, 0.675, 0.190); /* easeInCubic */
  transform:  translate3d(0,0,14rem);
}

.App__body__scrollable__wrapper--outro .Block3d__face,
.App__body__scrollable__wrapper--outro .Block3d__content {
  transition: opacity 400ms cubic-bezier(0.550, 0.055, 0.675, 0.190); /* easeInCubic */
  opacity: 0;
}

.App__body__scrollable__wrapper--intro {
  transform: translate3d(0,0,-14rem);
}

.App__body__scrollable__wrapper--intro .Block3d__face,
.App__body__scrollable__wrapper--intro .Block3d__content {
  opacity: 0;
}