/* intro animation styles */

.App__body__scrollable__wrapper {
  transition: transform 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}
.Block3d__face,
.Block3d__content {
  transition: opacity 350ms 50ms linear; /* easeOutCubic */
}




/* animations */

.App__body__scrollable__wrapper--outro {
  transition: transform 500ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
  transform:  translate3d(0,0,14rem);
}

.App__body__scrollable__wrapper--outro .Block3d__face,
.App__body__scrollable__wrapper--outro .Block3d__content {
  transition: opacity 350ms linear;
  opacity: 0;
}

.App__body__scrollable__wrapper--intro {
  transform: translate3d(0,0,-14rem);
}

.App__body__scrollable__wrapper--intro .Block3d__face,
.App__body__scrollable__wrapper--intro .Block3d__content {
  opacity: 0;
}