// import all component-level sass files
@import '../index';
@import '../App';
@import '../Block3d/Block3d';
@import '../ProjectPreview/ProjectPreview';
@import '../ProjectView/ProjectView';
@import '../ProjectView/ProjectDesc';
@import '../SiteIntro/SiteIntro';




//define theme vars and generate the css for them
@import '../themes/themeBuilder/themeBuilder';

$theme--default: (
  highlightColor: rgb(180,0,0),
  titleFont: '../themes/default/bebasneue_regular-webfont.woff',
  titleFont2: '../themes/default/bebasneue_regular-webfont.woff2'
);

$theme--game: (
  highlightColor: rgb(0,180,0),
  titleFont: '../themes/game/pixeled-webfont.woff',
  titleFont2: '../themes/game/pixeled-webfont.woff2'
);

@include themeBuilder('default', $theme--default);
@include themeBuilder('game', $theme--game);




// import all shared sass files
@import 'shared';
@import 'breakpoints';
@import 'routingAnimation';