@import 'shared.scss';

$transformOut: transform 500ms cubic-bezier(0.550, 0.055, 0.675, 0.190); /* easeInCubic */
$transformIn:  transform 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

$opacityOut: opacity 450ms 100ms cubic-bezier(0.550, 0.055, 0.675, 0.190); /* easeInCubic */
$opacityIn:  opacity 450ms 100ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */




/* MAIN AREA ANIMATIONS */

// default
.App__body__scrollable__wrapper {
  transition: $transformIn;

  .Block3d__face,
  .App__body__scrollable__wrapper__floor {
    transition: $opacityIn;
  }

  .Block3d__content {
    transition: $opacityIn, $buttonHoverTransition;
  }
}


.App__body--mobileIntro {
  .App__body__scrollable__wrapper {
    transition: $transformIn, $opacityIn;
    transform: translate3d(4rem, 4rem, 0);

    .Block3d__face,
    .Block3d__content,
    .Block3d--shadow,
    .App__body__scrollable__wrapper__floor {
      opacity: 0;
    }
  }
}

.App__body--mobileOutro {
  .App__body__scrollable__wrapper {
    transition: $transformOut, $opacityOut;
    transform: translate3d(-4rem, -4rem, 0);
    opacity: 0;
  }
}


// intro
.App__body--webIntro {
  .App__body__scrollable__wrapper {
    transform: translate3d(0, 0, -34rem);
    transition: none;

    .Block3d__face,
    .Block3d__content,
    .Block3d--shadow,
    .App__body__scrollable__wrapper__floor {
      opacity: 0;
    }
  }
}


// outro
.App__body--webOutro {
  .App__body__scrollable__wrapper {
    transition: $transformOut;
    transform: translate3d(0, 0, 14rem);

    .Block3d__face,
    .Block3d__content,
    .Block3d--shadow,
    .App__body__scrollable__wrapper__floor {
      transition: $opacityOut;
      opacity: 0;
    }
  }
}




/* PROJECT DESCRIPTION ANIMATIONS */

// basically doing the same thing we did above, but instead of moving all of .ProjectDesc__content wrapper at the same rate,
// we're moving each piece a different amount for a staggered visual effect


.ProjectDesc {
  .Block3d__face,
  .Block3d__content {
    transform: $opacityIn;
  }

  .ProjectDesc__content__title,
  .ProjectDesc__content__text,
  .ProjectDesc__content__note__title,
  .ProjectDesc__content__note__text,
  .ProjectDesc__content__x,
  .ProjectDesc__content__buttonWrapper__button {
    transition: $transformIn;
  }
}


.App__body--webIntro {
  .ProjectDesc {
    overflow: visible;

    .Block3d__face,
    .Block3d__content {
      opacity: 0;
    }

    .ProjectDesc__content__x {
      transform: translate3d(0, 0, -6rem);
    }
    .ProjectDesc__content__buttonWrapper__button {
      transform: translate3d(0, 0, -10rem);
    }
    .ProjectDesc__content__title {
      transform: translate3d(0, 0, -8rem);
    }
    .ProjectDesc__content__text {
      transform: translate3d(0, 0, -6rem);
    }
    .ProjectDesc__content__note__title {
      transform: translate3d(0, 0, -6rem);
    }
    .ProjectDesc__content__note__text {
      transform: translate3d(0, 0, -4rem);
    }
  }
}


.App__body--webOutro {
  .ProjectDesc {
    overflow: visible;

    .Block3d__face,
    .Block3d__content {
      transition: $opacityOut;
      opacity: 0;
    }

    .ProjectDesc__content__title,
    .ProjectDesc__content__text,
    .ProjectDesc__content__note__title,
    .ProjectDesc__content__note__text,
    .ProjectDesc__content__x,
    .ProjectDesc__content__buttonWrapper__button {
      transition: $transformOut;
    }

    .ProjectDesc__content__x,
    .ProjectDesc__content__buttonWrapper__button {
      transform: translate3d(0, 0, 16rem);
    }
    .ProjectDesc__content__title {
      transform: translate3d(0, 0, 13rem);
    }
    .ProjectDesc__content__text {
      transform: translate3d(0, 0, 10rem);
    }
    .ProjectDesc__content__note__title {
      transform: translate3d(0, 0, 7rem);
    }
    .ProjectDesc__content__note__text {
      transform: translate3d(0, 0, 4rem);
    }
  }
}
