$xButtonBoxShadow: inset 0 0 0 1px #fff;

// button background, text, outline, and arrow
$buttonHoverTransition: background-color 150ms linear, color 150ms linear, stroke 150ms linear, border-color 150ms linear, box-shadow 150ms linear;

$breakpoint-mobile: 1020px;

$siteIntroHeight: calc(100vh - 5rem);
$siteIntroMinHeight: 24rem;
$siteIntroHeight--mobile: calc(100vh - 8rem); //60vh;

$mobileMinSize: 2.5rem;
$headerHeight: 2rem;
$headerHeight--mobile: 44px;
$bodyWidth: 54rem;



@mixin rightArrow($size, $color) {
  content: '';
  position: absolute;
  top: 50%;
  right: -($size*0.75)+rem;
  margin-top: -($size*0.95)+rem;

  border-top: $size+rem solid transparent;
  border-bottom: $size+rem solid transparent;
  border-left: ($size*1.25)+rem solid $color;
}

@mixin backArrow($size, $color) {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($size*0.95)+rem;
  margin-left: -($size/2)+rem;

  border-top: $size+rem solid transparent;
  border-bottom: $size+rem solid transparent;
  border-right: ($size*1.25)+rem solid $color;
}

@mixin bottomArrow($size, $color) {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -($size*0.75)+rem;
  margin-left: -$size+rem;
  display: block;

  border-top: $size+rem solid $color;
  border-left: ($size*1.25)+rem solid transparent;
  border-right: ($size*1.25)+rem solid transparent;
}

@mixin mobileBox($depth, $colorRight, $colorBottom, $sideBoxShadow:"none", $bottomBoxShadow:"none") {
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -$depth;
    width: $depth;
    height: 100%;

    transform: skewY(45deg);
    transform-origin: 0 0;
    background-color: $colorRight;
    box-shadow: #{$sideBoxShadow};
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -$depth;
    width: 100%;
    height: $depth;

    transform: skewX(45deg);
    transform-origin: top center;
    background-color: $colorBottom;
    box-shadow: #{$bottomBoxShadow};
  }
}


.floatingButton {
  animation-name: floatingButtonAnimation;
  animation-duration: 4s;
  animation-delay: 1.5s; // to allow routing animation to complete
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  @media screen and (max-width: $breakpoint-mobile){
    animation-name: floatingButtonMobileAnimation;
  }
}

@keyframes floatingButtonAnimation {
  0% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(0,0,-1.5rem);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

@keyframes floatingButtonMobileAnimation {
  0% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(0.75rem,0.75rem,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}




.button {
  cursor: pointer;
  pointer-events: all;

  .Block3d {
    @extend .floatingButton;
  }

  .Block3d__content {
    padding: 0.6rem;
    transition: $buttonHoverTransition;
  }

  @media screen and (max-width: $breakpoint-mobile){
    .Block3d--shadow {
      top: 2.25rem;
      left: 2.25rem;
    }
  }
}
.button__text {
  transition: $buttonHoverTransition;
  position: relative;
}




.wrapper {

}
.wrapper--centered {
  text-align: center;
}