
$highlightColor: rgb(180,0,0);
$buttonBoxShadow: inset 0 0 0 0.1rem #fff;

// button background, text, outline, and arrow
$buttonHoverTransition: background-color 100ms linear, color 100ms linear, stroke 100ms linear, border-color 100ms linear;

$breakpoint-mobile: 1020px;


$siteIntroHeight: 80vh;
$siteIntroHeight--mobile: 60vh;

$mobileMinSize: 44px;


@mixin rightArrow($size) {
  content: '';
  position: absolute;
  top: 50%;
  right: -($size*2)+rem;
  margin-top: -($size)+rem;
  width: ($size*4)+rem;

  border-top: $size+rem solid transparent;
  border-bottom: $size+rem solid transparent;
  border-left: ($size*1.25)+rem solid $highlightColor;
}

@mixin mobileBox($depth, $colorRight, $colorBottom) {

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -$depth;
    width: $depth;
    height: 100%;

    transform: skewY(45deg);
    transform-origin: 0 0;
    background-color: $colorRight;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -$depth;
    width: 100%;
    height: $depth;

    transform: skewX(45deg);
    transform-origin: top center;
    background-color: $colorBottom;
  }
}


.floatingButton {
  animation-name: floatingButtonAnimation;
  animation-duration: 4s;
  animation-delay: 1.5s; // to allow routing animation to complete
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatingButtonAnimation {
  0% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(0,0,-1.5rem);

    @media screen and (max-width: $breakpoint-mobile){
      transform: translate3d(-0.25rem,-0.25rem,0) !important;
    }
  }
  100% {
    transform: translate3d(0,0,0);
  }
}







.button {
  cursor: pointer;
  pointer-events: all;

  .Block3d {
    @extend .floatingButton;
  }

  // background
  .Block3d__content {
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    box-shadow: $buttonBoxShadow;
    transition: $buttonHoverTransition;
  }

  // arrow
  h3:after {
    @include rightArrow(0.22);
  }

  &:hover {
    .Block3d__content {
      background-color: $highlightColor;
    }

    h3 {
      color: #fff;
      transition: $buttonHoverTransition;
    }
    h3:after {
      border-left-color: #fff;
      transition: $buttonHoverTransition;
    }
  }
}
