.ProjectView {
  margin-top: 2rem;
  width: 36rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.ProjectView__pic {
  margin-bottom: 6rem;
}




.ProjectDesc {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;

  perspective-origin: 50% 80%; /* x-center y-top */
  perspective: 50rem;          /* should match width of App__wrapper for best cube appearance */
}

.ProjectDesc__content {
  top: 2rem;
  left: calc(50% + 22rem);
  width: 16rem;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(-50%,0,0);

  background-color: rgba(255,255,0,0.1);
}

.ProjectDesc__content__note {

}

.ProjectDesc__content__note__title {

}

