/* LEFT SIDE LAYOUT AREA */

.ProjectView {
  margin-top: 2rem;
  width: 36rem;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.ProjectView__pic {
  margin-bottom: 6rem;
}




/* RIGHT SIDE DESCRIPTION PANEL */

.ProjectDesc {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;

  perspective-origin: 50% 80%; /* x-center y-top */
  perspective: 50rem;          /* should match width of App__wrapper for best cube appearance */
}

.ProjectDesc__content {
  top: 2rem;
  left: calc(50% + 20.35rem);
  width: 17rem;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(-50%,0,0);
}

.ProjectDesc__content__title .Block3d__content {
  padding: 0.75rem 1.3rem;
}
.ProjectDesc__content__text .Block3d__content {
  padding: 0.75rem 1.5rem;
}




.ProjectDesc__content__note--technology {
  margin-top: 0.75rem;
  display: inline-block;
  vertical-align: top;
  width: 6rem;
}
.ProjectDesc__content__note--responsibilities {
  margin-top: 0.75rem;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: top;
  width: 10.25rem;
}


.ProjectDesc__content__note__title {
  display: block;
}
.ProjectDesc__content__note__text {
  display: block;
}


.ProjectDesc__content__note__title .Block3d__content {
  padding: 0.75rem 1.1rem;
}
.ProjectDesc__content__note__text .Block3d__content {
  padding: 0.75rem 1.1rem 0.75rem 1.4rem;
}
